@charset "UTF-8";
/*폰트 선언 시작*/
@font-face {
  font-family: 'notoSansRegular';
  font-style: normal;
  src: url("../font/NotoSansKR-Regular.woff") format("woff"), url("../font/NotoSansKR-Regular.eot");
}

@font-face {
  font-family: 'notoSansMedium';
  font-style: normal;
  src: url("../font/NotoSansKR-Medium.woff") format("woff"), url("../font/NotoSansKR-Medium.eot");
}

@font-face {
  font-family: 'notoSansBold';
  font-style: normal;
  src: url("../font/NotoSansKR-Bold.woff") format("woff"), url("../font/NotoSansKR-Bold.eot");
}

@font-face {
  font-family: 'robotoRegular';
  font-style: normal;
  src: url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.eot");
}

@font-face {
  font-family: 'robotoMedium';
  font-style: normal;
  src: url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.eot");
}

@font-face {
  font-family: 'robotoBold';
  font-style: normal;
  src: url("../font/Roboto-Bold.woff") format("woff"), url("../font/Roboto-Bold.eot");
}

/*폰트 선언 끝*/
html {
  font-size: 1vw;
  /*max-width:750px(1rem="7.5px)"*/
  font-family: "notoSansRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.padding_footer {
  padding-bottom: 14.66rem;
}

body {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 16rem;
  color: #222;
  letter-spacing: -0.1rem;
}

body .inner {
  padding: 0 4rem;
  height: auto;
  margin: 0 auto;
}

body .inner .cont_inner {
  padding: 0 1.33em;
  margin: 0 auto;
}

body .header_common {
  z-index: 1;
  width: 100%;
  height: 16rem;
  position: fixed;
  top: 0;
  text-align: center;
  border-bottom: .13rem solid #a8a8a8;
}

body .header_common .icon_header_back {
  width: 2.66rem;
  height: 5.06rem;
  background: url(../images/magicStory/h_arrow.png) no-repeat center;
  background-size: cover;
}

body .header_common .icon_header_cancel {
  position: absolute;
  left: 0;
  font-size: 4.26rem;
  padding-top: 1.06rem;
}

body .headerTabMenu {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 13.33rem;
  background: #e51937;
  color: #fff;
  overflow-y: hidden;
  overflow-x: scroll;
}

body .headerTabMenu::-webkit-scrollbar {
  display: none;
}

body .headerTabMenu .slideMenu {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

body .headerTabMenu .slideMenu label {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 4.4rem 0 3.76rem 0;
  font-size: 4rem;
  margin: 0 1.73rem;
  color: #e9b7be;
}

body .headerTabMenu .slideMenu input {
  display: none;
}

body .headerTabMenu .slideMenu input:checked + label {
  border-bottom: 1.33rem solid #fce8eb;
  color: #fff;
}

body .footer_common {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.margin_tab_top {
  margin-top: 13.33rem;
}

.margin_footer_bottom {
  margin-bottom: 5.34rem;
}

.wrapper_popUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5000;
}

.wrapper_popUp .wrapper_modal_box {
  width: 89.33rem;
  height: 133.33rem;
  background: #fff;
}

.wrapper_popUp .wrapper_modal_box .wrapper_modal_contents {
  width: 100%;
  height: calc(100% - 13.33rem);
  background: url(../images/main/visualBanner.png) no-repeat center top;
  background-size: cover;
  font-size: 5rem;
  /*개발완료 후 삭제될 영역 시작*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  /*개발완료 후 삭제될 영역 끝*/
}

.wrapper_popUp .wrapper_modal_box .wrapper_modal_close {
  overflow: hidden;
}

.wrapper_popUp .wrapper_modal_box .wrapper_modal_close button {
  width: 50%;
  height: 13.33rem;
  float: left;
  background: #000;
  color: #fff;
  border: 0;
  font-size: 3.73rem;
  padding: 4.4rem 0;
}

.icon_header_fav input {
  display: none;
}

.icon_header_fav input[type=checkbox] + label {
  width: 7.73rem;
  height: 7.2rem;
  display: inline-block;
  background: url(../images/common/fav_unchecked.png) no-repeat;
  background-size: cover;
}

.icon_header_fav input[type=checkbox]:checked + label {
  background: url(../images/common/fav.png) no-repeat;
  background-size: cover;
}

.menu_tab_wrap label {
  float: left;
  padding: 3.2rem 0;
  text-align: center;
  font-size: 3.73rem;
  background: #fff;
  border: 0.13rem solid #222;
}

.menu_tab_wrap input {
  display: none;
}

.menu_tab_wrap input:checked + label {
  background: #222;
  color: #fff;
}

.title_h2 {
  padding: 5.33rem 0;
  font-size: 4.26rem;
  font-weight: bold;
}

.title_h2 span {
  font-weight: bold;
  color: #e51937;
}

.btn_load_more {
  width: 100%;
  padding: 15px 0;
  background: none;
  border: 0;
  font-weight: "notoSansRegular", sans-serif;
  font-size: 4rem;
}

.wrapper_category_default {
  overflow: hidden;
  padding: 4rem 0;
}

.wrapper_category_default h2 {
  padding: 5.33rem 0;
  font-size: 4.26rem;
  font-weight: bold;
}

.wrapper_category_default h2 span {
  font-weight: bold;
  color: #e51937;
}

.wrapper_category_default .wrapper_category_box {
  width: 100%;
  padding: 4.93rem 4rem;
  margin-bottom: 1.33rem;
  background: url(../images/common/arrow18x34.png) no-repeat center right 4rem, #f6f7f9;
  background-size: 2.4rem;
  border: 0.13rem solid #eaeaea;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.wrapper_category_default .wrapper_category_box p {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
}

.wrapper_category_default .wrapper_category_box img {
  width: 2.4rem;
  float: right;
}

.wrapper_select_cate {
  width: 100%;
  margin: 4rem 0;
}

.wrapper_select_cate select {
  width: 100%;
  padding: 4.13rem 2.33rem;
  background: none;
  border: .13rem solid #a8a8a8;
  font-family: "notoSansRegular", sans-serif;
  font-size: 4.26rem;
}

.wrapper_write_area {
  width: 100%;
}

.wrapper_write_area textarea {
  width: 100%;
  height: 53.33rem;
  border: 0;
  padding: 4rem 4rem 0;
  font-family: "notoSansRegular", sans-serif;
  font-size: 4.53rem;
  color: #222;
  overflow: auto;
}

.wrapper_write_area textarea::-webkit-input-placeholder {
  color: #ccc;
}

.wrapper_write_area textarea:-ms-input-placeholder {
  color: #ccc;
}

.wrapper_write_area textarea::-ms-input-placeholder {
  color: #ccc;
}

.wrapper_write_area textarea::placeholder {
  color: #ccc;
}

.wrapper_upload_img {
  width: 100%;
}

.wrapper_upload_img .wrapper_img_box {
  width: 100%;
  padding: 2.66rem 0;
  overflow: hidden;
  border-bottom: .13rem solid #f1f1f1;
}

.wrapper_upload_img .wrapper_img_box .thumb_img {
  width: 13.33rem;
  height: 13.33rem;
  float: left;
  background: url(../images/common/write_img_thumb.png) no-repeat center top;
  background-size: cover;
}

.wrapper_upload_img .wrapper_img_box input[type=file] {
  display: none;
}

.wrapper_upload_img .wrapper_img_box .btn_add_box {
  display: block;
  float: right;
  width: 5.33rem;
  height: 5.33rem;
  background: url(../images/common/btn_upload_img.png) no-repeat center top;
  background-size: cover;
  border: 0;
  margin: 4rem 0.8rem 0 0;
}

.wrapper_upload_img .wrapper_img_box .thumb_default {
  background: url(../images/common/upload_thumb_default.png) no-repeat center top;
  background-size: cover;
  border: .13rem solid #ccc;
}

.wrapper_upload_img .wrapper_img_box .btn_att_cancel {
  float: right;
  margin-top: 4.26rem;
  background: none;
  border: 0;
  color: #e51937;
  font-size: 4.26rem;
}

#eventPre:checked ~ .wrapper_event_pre,
#eventFnsh:checked ~ .wrapper_event_fnsh,
#survey:checked ~ .wrapper_survey,
#test:checked ~ .wrapper_test_list,
#testResult:checked ~ .wrapper_test_result,
#tCatalog:checked ~ .wrapper_prd_catalog,
#tSpec:checked ~ .wrapper_prd_spec,
#tPrice:checked ~ .wrapper_prd_price {
  display: block;
}

.wrapper_option_modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5001;
  overflow: hidden;
}

.wrapper_option_modal .modal_bg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.wrapper_option_modal ul {
  width: 100%;
  position: absolute;
  bottom: 3rem;
  left: 0;
}

.wrapper_option_modal ul li {
  z-index: 1;
  width: 100%;
  height: auto;
  list-style: none;
  border-bottom: .13rem solid #a8a8a8;
  overflow: hidden;
  background: #fff;
}

.wrapper_option_modal ul li:first-child {
  border-radius: 2rem 2rem 0 0;
}

.wrapper_option_modal ul li:nth-last-child(2) {
  border-bottom: 0;
  border-radius: 0 0 2rem 2rem;
}

.wrapper_option_modal ul li:last-child {
  margin-top: 3rem;
  border-bottom: 0;
  border-radius: 2rem;
}

.wrapper_option_modal ul li button {
  width: 100%;
  padding: 4rem 0;
  font-family: "notoSansRegular", sans-serif;
  font-size: 4rem;
  border: 0;
}

.wrapper_option_modal ul li .btn_option_warn {
  color: #e51937;
}

.wrapper_modal_img {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  z-index: 5002;
  overflow: hidden;
}

.wrapper_modal_img .header_modal {
  display: inline-block;
  width: 100%;
  height: 13.33rem;
  background: rgba(17, 17, 17, 0.9);
  text-align: center;
  z-index: 1;
  color: #fff;
}

.wrapper_modal_img .header_modal .btn_modal_close {
  position: absolute;
  top: 4.4rem;
  left: 4rem;
  width: 4.53rem;
  height: 4.53rem;
  background: url(../images/magicStory/i_modal_close.png) no-repeat center top;
  background-size: cover;
}

.wrapper_modal_img .header_modal .wrapper_modal_pagination {
  display: inline-block;
  font-family: "robotoMedium", sans-serif;
  font-size: 4rem;
  padding-top: 4.66rem;
}

.wrapper_modal_img .header_modal .btn_modal_save {
  position: absolute;
  right: 4rem;
  top: 4.4rem;
  width: 13.33rem;
  height: 4rem;
  text-align: right;
  font-size: 4rem;
  background: url(../images/magicStory/i_modal_down.png) no-repeat left top;
  background-size: 4rem;
}

.wrapper_modal_img .slide_img_area {
  width: 100%;
  height: auto;
}

.wrapper_modal_img .slide_img_area .modalImg {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.wrapper_modal_img .slide_img_area .modalImg img {
  max-width: 100%;
}
/*# sourceMappingURL=common.css.map */