$skRed: #e51937;
$skOrange: #f47726;
$fontNotoR: 'notoSansRegular', sans-serif;
$fontNotoM: 'notoSansMedium', sans-serif;
$fontNotoB: 'notoSansBold', sans-serif;
$fontRobotoR: 'robotoRegular', sans-serif;
$fontRobotoM: 'robotoMedium', sans-serif;
$fontRobotoB: 'robotoBold', sans-serif;
$letter: -.1rem;

/*폰트 선언 시작*/
@font-face{
    font-family: 'notoSansRegular';
    font-style: normal;
    src:url('../font/NotoSansKR-Regular.woff')format('woff'),
    url('../font/NotoSansKR-Regular.eot');
}

@font-face{
    font-family: 'notoSansMedium';
    font-style: normal;
    src:url('../font/NotoSansKR-Medium.woff')format('woff'),
    url('../font/NotoSansKR-Medium.eot');
}


@font-face{
    font-family: 'notoSansBold';
    font-style: normal;
    src:url('../font/NotoSansKR-Bold.woff')format('woff'),
    url('../font/NotoSansKR-Bold.eot');
}

@font-face{
    font-family: 'robotoRegular';
    font-style: normal;
    src:url('../font/Roboto-Regular.woff')format('woff'),
    url('../font/Roboto-Regular.eot');
}

@font-face{
    font-family: 'robotoMedium';
    font-style: normal;
    src:url('../font/Roboto-Medium.woff')format('woff'),
    url('../font/Roboto-Medium.eot');
}


@font-face{
    font-family: 'robotoBold';
    font-style: normal;
    src:url('../font/Roboto-Bold.woff')format('woff'),
    url('../font/Roboto-Bold.eot');
}
/*폰트 선언 끝*/

//디폴트 레이아웃 시작
html{
    font-size: 1vw;/*max-width:750px(1rem="7.5px)"*/
    font-family: $fontNotoR;
    -webkit-font-smoothing: antialiased;
}
.padding_footer{
    padding-bottom: 14.66rem;
}
body{
    display: block;
    width: 100%;
    height: auto;
    padding-top: 16rem;
    color: #222;
    letter-spacing: $letter;
    .inner{
        padding: 0 4rem;
        height: auto;
        margin: 0 auto;
        .cont_inner{
            padding: 0 1.33em;
            margin: 0 auto;
        }
    }//.inner
    .header_common{
        z-index: 1;
        width: 100%;
        height: 16rem;
        position: fixed;
        top: 0;
        text-align:center;
        border-bottom: .13rem solid #a8a8a8;
        .icon_header_back{
            width: 2.66rem;
            height: 5.06rem;
            background: url(../images/magicStory/h_arrow.png)no-repeat center;
            background-size: cover;
        }
        .icon_header_cancel{
            position: absolute;
            left: 0;
            font-size: 4.26rem;
            padding-top: 1.06rem;
        }
    }//.header_common
    .headerTabMenu{
        position: fixed;
        z-index:1;
        width: 100%;
        height: 13.33rem;
        background: $skRed;
        color: #fff;
        overflow-y: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        .slideMenu{
            width: 100%;
            height: 100%;
            white-space: nowrap;
            label{
                height:100%;
                box-sizing: border-box;
                display: inline-block;
                padding: 4.4rem 0 3.76rem 0;
                font-size: 4rem;
                margin: 0 1.73rem;
                color: #e9b7be;
            }
            input{
                display: none;
                &:checked + label{
                    border-bottom: 1.33rem solid #fce8eb;
                    color: #fff;
                }
            }
        }
    }//.headerTabMenu
    .footer_common{
        z-index: 1;
        position: fixed;
        bottom: 0;
        width:100%;
    }
}//body
.margin_tab_top{
    margin-top: 13.33rem;
}
.margin_footer_bottom{
    margin-bottom: 5.34rem;
}
//디폴트 레이아웃 끝

//팝업 모달 시작
.wrapper_popUp{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,.5);
    z-index: 5000;
    .wrapper_modal_box{
        width: 89.33rem;
        height: 133.33rem;
        background: #fff;
        .wrapper_modal_contents{
            width: 100%;
            height: calc(100% - 13.33rem);
            background: url(../images/main/visualBanner.png)no-repeat center top;
            background-size: cover;
            font-size: 5rem;
            /*개발완료 후 삭제될 영역 시작*/
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            /*개발완료 후 삭제될 영역 끝*/
        }//wrapper_modal_contents
        .wrapper_modal_close{
            overflow: hidden;
            button{
                width: 50%;
                height: 13.33rem;
                float: left;
                background: #000;
                color: #fff;
                border: 0;
                font-size: 3.73rem;
                padding: 4.4rem 0;
            }//button
        }//wrapper_modal_close
    }//wrapper_modal_box
}//wrapper_popUp
//팝업 모달 끝

//즐겨찾기 버튼 시작
.icon_header_fav{
    input{
        display: none;
    }
    input[type=checkbox]+label{
        width: 7.73rem;
        height: 7.2rem;
        display: inline-block;
        background: url(../images/common/fav_unchecked.png) no-repeat;
        background-size: cover;
    }
    input[type=checkbox]:checked+label{
        background: url(../images/common/fav.png) no-repeat;
        background-size: cover;
    }
}
//즐겨찾기 버튼 끝

//탭메뉴 공통디자인 시작
.menu_tab_wrap{
    label{
        float: left;
        padding: 3.2rem 0;
        text-align: center;
        font-size: 3.73rem;
        background: #fff;
        border: 0.13rem solid #222;
    }//label
    input{
        display: none;
        &:checked + label{
            background: #222;
            color: #fff;
        }//checked + label
    }//input
}//탭메뉴 공통디자인 끝

//h2타이틀 공통 시작
.title_h2{
    padding: 5.33rem 0;
    font-size: 4.26rem;
    font-weight: bold;
    span{
        font-weight: bold;
        color: $skRed;
    }//span
}
//h2 타이틀 공통 끝

//더보기 버튼 시작
.btn_load_more{
    width:100%;
    padding:15px 0;
    background: none;
    border: 0;
    font-weight: $fontNotoR;
    font-size: 4rem;
}//btn_load_more
//더보기 버튼 끝

//카테고리 박스 디폴트 시작
.wrapper_category_default{
    overflow: hidden;
    padding: 4rem 0;
    h2{
        padding: 5.33rem 0;
        font-size: 4.26rem;
        font-weight: bold;
        span{
            font-weight: bold;
            color: $skRed;
        }//span
    }//h2
    .wrapper_category_box{
        width: 100%;
        padding: 4.93rem 4rem;
        margin-bottom: 1.33rem;
        background: url(../images/common/arrow18x34.png)no-repeat center right 4rem, #f6f7f9;
        background-size: 2.4rem;
        border: 0.13rem solid #eaeaea;
        border-radius: 1rem;
        overflow:hidden;
        cursor: pointer;
        p{
            display:inline-block;
            font-size: 4rem;
            font-weight: bold;
        }
        img{
            width: 2.4rem;
            float: right;
        }
    }        
}
//카테고리 박스 디폴트 끝

//글, 댓글, 의견 등 작성페이지 시작
.wrapper_select_cate{
    width: 100%;
    margin: 4rem 0;
    select{
        width: 100%;
        padding: 4.13rem 2.33rem;
        background: none;
        border: .13rem solid #a8a8a8;
        font-family: $fontNotoR;
        font-size: 4.26rem;
    }
}
.wrapper_write_area{
    width: 100%;
    textarea{
        width:100%;
        height: 53.33rem;
        border: 0;
        padding: 4rem 4rem 0;
        font-family: $fontNotoR;
        font-size: 4.53rem;
        color: #222;
        overflow: auto;
        &::placeholder{
            color: #ccc;
        }
    }
}//wrapperWirteArea
.wrapper_upload_img{
    width: 100%;
        .wrapper_img_box{
            width: 100%;
            padding: 2.66rem 0;
            overflow: hidden;
            border-bottom: .13rem solid #f1f1f1;
            .thumb_img{
                width: 13.33rem;
                height: 13.33rem;
                float: left;
                background: url(../images/common/write_img_thumb.png)no-repeat center top;
                background-size: cover;
            }
            input[type=file]{
                display:none;
            }
            .btn_add_box{
                display: block;
                float: right;
                width: 5.33rem;
                height: 5.33rem;
                background: url(../images/common/btn_upload_img.png)no-repeat center top;
                background-size: cover;
                border: 0;
                margin: 4rem 0.8rem 0 0;
            }
            .thumb_default{
                background: url(../images/common/upload_thumb_default.png)no-repeat center top;
                background-size: cover;
                border: .13rem solid #ccc;
            }
            .btn_att_cancel{
                float:right;
                margin-top: 4.26rem;
                background: none;
                border: 0;
                color: $skRed;
                font-size: 4.26rem;
            }
        }//wrapper_img_box
}
//글, 댓글, 의견 등 작성페이지 끝

//탭메뉴 연결 시작
#eventPre:checked ~ .wrapper_event_pre,
#eventFnsh:checked ~ .wrapper_event_fnsh,
#survey:checked ~ .wrapper_survey,
#test:checked ~ .wrapper_test_list,
#testResult:checked ~ .wrapper_test_result,
#tCatalog:checked ~ .wrapper_prd_catalog,
#tSpec:checked ~ .wrapper_prd_spec,
#tPrice:checked ~ .wrapper_prd_price{
    display: block;
}
//탭메뉴 연결 끝

.wrapper_option_modal{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left:0;
    top:0;
    z-index: 5001;
    overflow: hidden;
    .modal_bg{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 0;
    }
    ul{
        width: 100%;
        position: absolute;
        bottom: 3rem;
        left: 0;
        li{
            z-index: 1;
            width: 100%;
            height: auto;
            list-style: none;
            border-bottom: .13rem solid #a8a8a8;
            overflow: hidden;
            background: #fff;
            &:first-child{
                border-radius: 2rem 2rem 0 0;
            }
            &:nth-last-child(2){
                border-bottom: 0;
                border-radius: 0 0 2rem 2rem;
            }
            &:last-child{
                margin-top: 3rem;
                border-bottom: 0;
                border-radius: 2rem;
            }
            button{
                width: 100%;
                padding: 4rem 0;
                font-family: $fontNotoR;
                font-size: 4rem;
                border: 0;
            }
            .btn_option_warn{
                color: $skRed;
            }
        }
    }//ul
}
.wrapper_modal_img{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    z-index: 5002;
    overflow: hidden;
    .header_modal{
        display: inline-block;
        width: 100%;
        height: 13.33rem;
        background: rgba(17,17,17,.9);
        text-align: center;
        z-index: 1;
        color:#fff;
        .btn_modal_close{
            position: absolute;
            top: 4.4rem;
            left: 4rem;
            width: 4.53rem;
            height: 4.53rem;
            background: url(../images/magicStory/i_modal_close.png)no-repeat center top;
            background-size: cover;
        }//btn_modal_close
        .wrapper_modal_pagination{
            display: inline-block;
            font-family: $fontRobotoM;
            font-size: 4rem;
            padding-top: 4.66rem;
        }
        .btn_modal_save{
            position: absolute;
            right: 4rem;
            top: 4.4rem;
            width: 13.33rem;
            height: 4rem;
            text-align: right;
            font-size: 4rem;
            background: url(../images/magicStory/i_modal_down.png)no-repeat left top;
            background-size: 4rem;
        }
    }//header_modal
    .slide_img_area{
        width: 100%;
        height: auto;
        .modalImg{
            width: 100%;
            text-align: center;
            white-space: nowrap;
            img{
                max-width: 100%;
            }
        }
    }
}