$skRed: #e51937;
$skOrange: #f47726;
$fontNotoR: 'notoSansRegular', sans-serif;
$fontNotoM: 'notoSansMedium', sans-serif;
$fontNotoB: 'notoSansBold', sans-serif;
$fontRobotoR: 'robotoRegular', sans-serif;
$fontRobotoM: 'robotoMedium', sans-serif;
$fontRobotoB: 'robotoBold', sans-serif;
$letter: -.1rem;

//메인페이지 시작
.header_top_main{
    padding-top: 2rem;
    background: #fff;
    .iconWrapper{
        position: relative;
        .icon_header_user{
            width: 6.13rem;
            height: 6.66rem;
            background: url(../images/common/i_user.png)no-repeat center top;
            background-size: 100%;
            position: absolute;
            left: 0;
            top: 2.66rem;
        }
        .icon_header_logo{
            display: inline-block;
            width: 24rem;
            height: 12.13rem;
            background: url(../images/common/logo.png)no-repeat center top;
            background-size: 100%;
        }
        .icon_header_bell{
            position: absolute;
            right: 0;
            top: 2rem;
            .alert_header_bell{
                display: inline-block;
                width: 5.6rem;
                height: 7.2rem;
                margin-right: -3rem;
                background: url(../images/common/i_bell.png)no-repeat center top;
                background-size: 100%;
            }
            .alert_header_count{
                position: relative;
                bottom: 4.2rem;
                display: inline-block;
                background: $skRed;
                border-radius: 10rem;
                padding: .89rem 1.54rem;
                span{
                    font-family: $fontRobotoM;
                    display: inline-block;
                    color:#fff;
                    font-size: 2.93rem;
                }//span
            }//alert_header_count
        }//icon_header_bell
    }//icon_wrapper
}//#headerMain
.visual_mgsc{
    width: 100%;
    padding: 5.33rem 0;
    background: #fff;
    .form_visual_search{
        input{
            box-sizing: border-box;
            width: 100%;
            height: 14.5rem;
            padding-left: 5.33rem;
            border: .66rem solid $skRed;
            border-radius: 2.33rem;
            font-family: $fontNotoR;
            font-size: 4rem;
            letter-spacing: $letter;
            background: url(../images/main/i_search.png) no-repeat right 4rem center, #fff;
            background-size: 6rem;
            &::placeholder{
                color: #999;
            }//placeholder
            &:focus{
                outline: 0;
            }
        }//input
    }//.form_visual_search
}//.visual_mgsc
.wrapper_menu_main{
    width:100%;
    background:#fff;
    margin-bottom: 2rem;
    .iconWrapper{
        width: 100%;
        width: auto;
        margin: 0 auto;
        overflow: hidden;
        .icon_menu_box{
            float: left;
            width: calc((100% - 9.32rem) / 3);
            height: 26.66rem;
            border-radius: 2.73rem;
            overflow: hidden;
            margin-right: 4.66rem;
            margin-bottom: 4.66rem;
            background-size: cover !important;
            &:nth-child(3n){
                margin-right: 0;
            }//nth-child(3n)
        }//.icon_menu_box
    }
}//#mainMenu
.banner_event{
    width: 100%;
    margin-bottom: 5rem;
    .eventWrapper{
        .banner_event_box{
            display:inline-block;
            width: 100%;
            height: 28rem;
            margin-bottom: 3.33rem;
            background-size: cover !important;
        }//.banner_event_box
    }//.eventWrapper
}//#eventBanner
.footer_bottom_main{
    background: url(../images/common/f_arrow.png) no-repeat center right 5.33rem,#222;
    height: 14.66rem;
    background-size: 2.4rem;
    .link_notice_footer{
        padding-top: 5.33rem;
        span{
            font-size: 3.73rem;
            color: #fff;
        }
    }
}//.footer_bottom_main
//메인페이지 끝    

//검색 페이지 시작
.header_top_search{
    background: #fff;
    border-bottom: .26rem solid $skRed !important;
    .iconWrapper{
        position: relative;
        .icon_header_back{
            position: absolute;
            left: 0;
            top: 5.33rem;
        }//icon_header_back
        input{
            width: 81.33rem;
            height: 16rem;
            padding-left: 4rem;
            border: 0;
            background: none;
            font-family: $fontNotoR;
            font-size: 4.8rem;
            &::placeholder{
                color: #ccc;
            }//placeholder
            &:focus{
                outline: 0;
            }//focus
        }//input
        .icon_header_search{
            width: 6.66rem;
            height: 6.66rem;
            background: url(../images/main/i_search.png)no-repeat center;
            background-size: cover;
            position: absolute;
            right: 0;
            top: 4.66rem;
        }
    }//iconwrapper
}//header_top_search
.wrapper_search_history{
    font-family: $fontNotoR;
    font-size: 4rem;
    padding: 4.93rem 0 2.66rem 0;
    overflow: hidden;
    span{
        float: left;
        color: #666;
    }
    a{
        float: right;
        color: #aaa;
    }
}
.wrapper_history_box{
    width: 100%;
    padding: 2.66rem 0;
    overflow: hidden;
    .icon_history_search{
        width: 8rem;
        height: 8rem;
        float: left;
        background: url(../images/main/i_history_search.png)no-repeat center;
        background-size: cover;
    }
    .text_history_word{
        width: calc(100% - 28rem);
        float: left;
        font-size: 4.53rem;
        padding: 1.46rem 2rem 0 4rem;
        white-space: nowrap;
        overflow: hidden;
        letter-spacing: $letter;
    }
    .btn_history_delete{
        width: 20rem;
        height: 8rem;
        float: left;
        background: url(../images/main/i_history_delete.png)no-repeat center right;
        background-size: 3.06rem;
    }
}
.search_h2{
    font-family: $fontNotoR;
    font-size: 4rem;
    color: #666;
    span{
        font-size: 4rem;
        font-family: $fontNotoB;
    }
}
.wrapper_search_results{
    .category_search_results{
        padding: 4.73rem 0;
        font-size: 4rem;
        font-family: $fontNotoM;
        border-bottom: .13rem solid #e8e8e8;
    }
    ul{
        margin-bottom: 4rem;
        li{
            border-bottom: .13rem solid #e8e8e8;
            padding: 4.66rem 0;
            font-size: 4rem;
            font-family: $fontNotoR;
            list-style: none;
            &::before {
                content: "\25A0";
                transform: scale(.23);
                color: $skRed;
                font-weight: bold;
                display: inline-block;
                margin-right: 2.66rem;
            }//li::before
            .searched{
                font-style: normal;
                color: $skRed;
                background: #fce8eb;
            }
        }//li
    }//list_search_results
}
//검색 페이지 끝

//매직스토리 리스트 시작
.header_top_mgsList{
    padding-top: 5.06rem;
    background: #fff;   
    .iconWrapper{
        position: relative;
        .icon_header_back{
            position: absolute;
            left: 0;
            top: 0.4rem;
        }//icon_header_back
        .icon_header_id{
            p{
                display:inline-block;
                padding-top: 0.26rem;
                font-size: 4.8rem;
                font-family:$fontNotoB;
                color: #222;
            }//p
        }//.icon_header_id
        .icon_header_level{
            position: absolute;
            right: 0;
            .alert_header_count{
                display: inline-block;
                background: $skRed;
                border-radius: 10rem;
                span{
                    display: inline-block;
                    font-family: $fontRobotoM;
                    color:#fff;
                    font-size: 2.93rem;
                    padding: 1.66rem 3.8rem;
                }
            }//.alert_header_count
        }//.icon_header_level
    }//.iconWrapper
}//#headerMgStory
.wrapper_user{
    width: 100%;
    height: auto;
    background: #f7f7f7;
    .box_info{
        width: 100%;
        padding-top: 3.33rem;
        margin: 0 auto 6.66rem;
        overflow: hidden;
        .box_info_detail{
            position: relative;
            width: calc(25% - 0.26rem);
            height: 23rem;
            float: left;
            margin-right: 0.26rem;
            &:last-child{
                margin-right:0;
            }
            .icon_user_plus{
                position: absolute;
                width: 6.66rem;
                bottom: 0;
                right: 0;
            }
            .wrapper_image{
                width:100%;
                height:100%;
                border-radius: 50%;
                overflow: hidden;
                background: url(../images/magicStory/user.png) no-repeat center top;
                background-size: cover !important;
            }
            .wrapper_text{
                padding-top: 7rem;
                text-align: center;
                p{
                    font-size:3.73rem;
                }
                span{
                    display:inline-block;
                    font-size: 4.8rem;
                    font-family: $fontRobotoB;
                    padding-bottom: 1.2rem;
                }//span
            }//.wrapper_text
        }//.box
    }//.box_info
    .btn_userinfo_edit{
        width: 100%;
        padding: .88rem 0;
        background: #fff;
        border: 0.4rem solid #ccc;
        font-family: $fontNotoR;
        font-size: 3.73rem;
        color: #222;
        letter-spacing: $letter;
    }//.btn_userinfo_edit
    .box_follow{
        width: 100%;
        overflow: hidden;
        .box_follow_count{
            width:33.33%;
            float: left;
            text-align: center;
            font-size: 3.73rem;
            .wrapper_text{
                padding: 5.85rem 0;
                p{
                    font-size: 3.73rem;
                    display: inline-block;
                }
                span{
                    font-size: 4rem;
                    font-family: $fontRobotoM;
                }
            }
        }
    }
}//.wrapper_user
.table_user_post{
    width: 100%;
    height: auto;
    table{
        margin: 0 auto;
        border:1px solid black;
        caption{
            display: none;
        }
        tbody{
            tr{
                td{
                    position: relative;
                    width: 33.33vw;
                    height: 33.33vw;
                    border: 0.4rem solid #fff;
                    background-size: cover !important;
                    background-repeat: none;
                    background-position: center top;
                    cursor: pointer;
                    .special{
                        width: 5.33rem;
                        height: 5.33rem;
                        position: absolute;
                        top: 1.33rem;
                        right: 1.33rem;
                        background: url(../images/magicStory/special.png)no-repeat center top;
                        background-size: cover !important;
                    }
                }//td
            }//tr
        }//tbody
    }//table
}//.table_user_post
.footer_bottom_mgStory{
    background: #fff;
    border-top: 0.26rem solid #999;
    .wrapper_footer_icon{
        width: 25%;
        height: 14.66rem;
        float:left;
        text-align: center;
        padding-top: 2.66rem;
        img{
            height: 5.33rem;
            margin-bottom: 1.33rem;
        }
        p{
            font-size: 2.66rem;
            color: #555;
        }
    }//.wrapper_footer_icon
}
//매직스토리 리스트 끝

//매직스토리 프로필 수정 시작
.wrapper_profile_edit{
    width: 100%;
    .wrapper_profile_img{
        width: 100%;
        padding: 2.66rem 4rem;
        margin: 4rem 0;
        text-align: center;
        .box_profile_img{
            width: 26.66rem;
            height: 26.66rem;
            background: url(../images/magicStory/img_profile_default.png)no-repeat center;
            background-size: cover;
            margin: 0 auto 3.6rem;
        }//box_profile_img
        button{
            border-radius: 0;
            background: none;
            border: 0;
            color: #446cef;
            font-family: $fontNotoM;
            font-size: 3.73rem;
        }//button
    }//.wrapper_profile_img
}//.wrapper_profile_edit
.wrapper_profile_info{
    width: 100%;
    font-size: 4.26rem;
    border-top: .13rem solid #e8e8e8;
    border-bottom: .13rem solid #e8e8e8;
    label{
        width: 26.08rem;
        height: 13.33rem;
        padding-top: 4.53rem;
        float: left;
        font-family: $fontNotoR;
    }//label
    input{
        width: calc(100% - 26.08rem);
        font-size: 4.26rem;
        height: 13.33rem;
        border: 0;
        font-family: $fontNotoM;
        &::placeholder{
            font-family: $fontNotoR;
            color: #e8e8e8;
        }
    }//input
    .input_profile_name{
        border-bottom: .13rem solid #e8e8e8;
    }
}//.wrapper_profile_info
.btn_profile_submit{
    width: 100%;
    background: #000;
    color: #fff;
    border: 0;
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 4.26rem;
}
//매직스토리 프로필 수정 끝

//매직스토리 뷰 시작
.header_top_mgsView{
    padding-top: 5.06rem;
    background: #fafafa;
    border-bottom: 0.13rem solid #a8a8a8;
    .iconWrapper{
        position: relative;
        .icon_header_back{
            position: absolute;
            left: 0;
            top: 0.4rem;
        }//icon_header_back
        .icon_header_option{
            width: 5.6rem;
            height: 1.33rem;
            position: absolute;
            right: 0;
            top: 1.86rem;
            background: url(../images/magicStory/option.png)no-repeat center top;
            background-size: 100%;
        }//.icon_header_level
    }//.iconWrapper
}//#headerMgStory
.wrapper_story_info{
    width: 100%;
    padding: 4rem 0;
    .wrapper_info_detail{
        overflow: hidden;
        .icon_info_userPic{
            float: left;
            width: 10.66rem;
            height: 10.66rem;
            border-radius: 50%;
            overflow: hidden;
            background: url(../images/magicStory/user.png) no-repeat center top;
            background-size: cover;
        }//.icon_info_userPic
        .box_info_idtime{
            display: inline-block;
            padding-top: .93rem;
            padding-left: 2.93rem;
            p{
                font-family: $fontNotoM;
                font-size: 4rem;
                padding-bottom: .93rem;
                //font-weight: medium;
            }//p
            span{
                font-size: 3.2rem;
                color: #999;
            }//span
        }//.box_info_idtime
    }//.wrapper_info_detail
}//.wrapper_story_info
.cont_story_view{
    width:100%;
    .wrapper_cont_text{
        padding-bottom: 5.33rem;
        p{
            font-size: 4rem;
            letter-spacing: $letter;
            line-height: 1.2;
        }//p
    }//.wrapper_cont_text
    .wrapper_cont_img{
        position: relative;
        width: 100%;
        margin-bottom: 2rem;
        &:last-child{
            margin-bottom: 0;
        }//last-child
        img{
            width: 100%;
        }//img
        i.edit{
            position: absolute;
            top: 2.66rem;
            right: 2.66rem;
            width: 17.33rem;
            height: 8rem;
            background: url(../images/magicStory/i_edit.png)no-repeat center top;
            background-size: cover !important;
            cursor: pointer;
        }
    }//.wrapper_cont_img
}//.cont_story_view
.wrapper_story_reply{
    width: 100%;
    padding: 4rem 0;
    border-top: 2rem solid #f7f7f7;
    .inner{
        overflow:hidden;
    }
    .wrapper_btn_like{
        float: left;
        label{
            display: inline-block;
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            overflow: hidden;
            background: url(../images/magicStory/btnLike.png)no-repeat center;
            background-size: cover;
            filter: grayscale(100%);
        }//label
        input{
            display: none;
            &:checked + label{
                filter: grayscale(0%);
            }
        }//input
    }//.wrapper_btn_like
    .wrapper_count_like{
        display: inline-block;
        font-size: 3.46rem;
        margin-left: 2.66rem;
        padding-top: 2rem;
        p{
            color: #666;
            display: inline-block;
        }
        span{
            margin-left: 0.53rem;
        }
    }//.wrapper_count_like
    button{
        padding: 1.86rem 2.66rem;
        border-radius: 1rem;
        float: right;
        background: #fff;
        color: #666;
        font-size: 3.2rem;
        border: 0.23rem solid #e7e7e7;
    }
}//.wrapper_story_reply
.wrapper_reply_area{
    .wrapper_reply_userImg{
        width: 10.66rem;
        .img_reply_userImg{
            width: 8rem;
            height: 8rem;
        }//.img_reply_userImg
    }//.wrapper_reply_userImg
    .wrapper_reply_box{
        padding: 4rem 0;
        border-top: 0.13rem solid #e8e8e8;
        .id_reply_userid{
            display: inline-block;
            p{
                font-size: 4rem;
            }//p
        }
    }
    .wrapper_reply_info{
        padding-left: 10.66rem;
        span{
            font-size: 3.73rem;
            color: #999;
        }//span
    }//.wrapper_reply_info
    .wrapper_reply_img{
        width: 40rem;
        height: auto;
        margin: 1.07rem 0 2.93rem 10.66rem;
        img{
            max-width: 100%;
        }
    }
}
.wrapper_alarm_area{
    border-bottom: 0.13rem solid #e8e8e8;
    padding: 0 4rem;
    .wrapper_reply_userImg{
        width: 12rem;
        margin-right: 4rem;
        .img_reply_userImg{
            width: 12rem;
            height: 12rem;
        }//.img_reply_userImg
    }//.wrapper_reply_userImg
    .wrapper_reply_box{
        padding: 6rem 0;
        .id_reply_userid{
            display: inline-block;
            p{
                font-size: 4.26rem;
                line-height: 1.2;
            }//p
        }
        .wrapper_reply_noticeImg{
            float: left;
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            background: url(../images/common/i_notice.png)no-repeat center top;
            background-size: cover;
            margin-right: 4rem;
        }
    }
    .follow_box{
        background: url(../images/magicStory/b_arrow.png)no-repeat center right;
        background-size: 2.13rem;
    }
    .wrapper_reply_info{
        padding-left: 15.66rem;
        span{
            font-size: 3.46rem;
            color: #999;
        }//span
    }//.wrapper_reply_info
}
.wrapper_comentArea{
    width: 100%;
    .wrapper_reply_userImg{
        float: left;
        .img_reply_userImg{
            border-radius: 50%;
            overflow: hidden;
            background-size: cover !important;
        }//.img_reply_userImg
    }//.wrapper_reply_userImg
    .wrapper_reply_box{
        overflow: hidden;
        .wrapper_reply_idOption{
            overflow: hidden;
            .id_reply_userid{
                display: inline-block;
                p{
                    padding-top: .93rem;
                    padding-bottom: 2.13rem;
                    font-family: $fontNotoM;
                }//p
                .name{
                    padding-bottom: 1.46rem;
                }
            }//.id_relpy_userid
            .btn_reply_option{
                float:right;
                width: 0.8rem;
                height: 4rem;
                background: url(../images/magicStory/r_option.png)no-repeat center top;
                background-size: 100%;
            }//.btn_reply_option
        }//.wrapper_reply_idOption
        .wrapper_reply_text{
            padding-right: 2.53rem;
            padding-bottom: 1.86rem;
            p{
                font-size: 4rem;
                letter-spacing: $letter;
                line-height: 1.2;
                padding-left: 10.66rem;
            }//p
        }//.wrapper_reply_text
        .wrapper_reply_info{
            span{
                color: #999;
                &:nth-child(2){
                    margin-left: 7.2rem;
                    cursor: pointer;
                }//nth-child(2)
            }//span
        }//.wrapper_reply_info
        .follow_info{
            span{
                color:#666;
                .count_num{
                    color: #222;
                }
            }
            .icon_heart{
                margin-left: 4rem !important;
                padding-left: 4.33rem;
                background: url(../images/magicStory/i_heart.png)no-repeat center left;
                background-size: 3.33rem;
            }
        }
    }//.wrapper_reply_box
    .wrapper_reply_seeMore{
        width: 100%;
        height: 11.6rem;
        padding-top: 0.8rem;
        cursor: pointer;
        p{
            padding-left: 10.66rem;
            font-size: 4rem;
        }//p
    }//.wrapper_reply_seeMore
    .replyWrite{
        input{
            width:100%;
            padding: 1rem 0 1.86rem 0;
            background: none;
            border: 0;
            font-family: $fontNotoR;
            font-size: 4rem;
            &::placeholder{
                font-size: 4rem;
                color: #999;
            }//placeholder
        }//input
    }//.replyWirte
    .coments{
        padding-left: 10.66rem;
    }//coments
}//.wrapper_comentArea
//매직스토리 뷰

//모바일 카달로그
.wrapper_contents{
    width: 100%;
    .wrapper_best_item{
        width: 100%;
        overflow: hidden;
        margin-bottom: 1.33rem;
        .wrapper_product_box{
            float: left;
            margin-right: 4rem;
            width: 44rem;
            cursor: pointer;
            &:nth-child(2n+1){
                margin-right: 0;
            }
            .img_product_box{
                width: 100%;
                height: 44rem;
                background-size: cover !important;
            }
            .text_product_box{
                width: 100%;
                height: 18.66rem;
                padding-top: 3.46rem;
                span{
                    display: inline-block;
                    font-size: 3.2rem;
                    font-family: $fontRobotoM;
                    color: #999;
                    padding-bottom: 1.6rem;
                }
                p{
                    font-size: 3.73rem;
                }
            }//.text_prodcut_box
        }//.wrapper_bestItem_products
    }//.wrapper_best_item
    .wrapper_category{
        margin-bottom: 4rem;
        overflow: hidden;
        .wrapper_category_box{
            float: left;
            width: 44.66rem;
            padding: 5.6rem 4rem;
            margin-right: 2.66rem;
            margin-bottom: 2.66rem;
            border: 0.13rem solid #eaeaea;
            background: url(../images/common/c_arrow.png)no-repeat center right 4rem, #f6f7f9;
            background-size: 2.13rem;
            border-radius: 1rem;
            cursor: pointer;
            &:nth-child(2n+1){
                margin-right: 0;
            }
            p{
                display:inline-block;
                font-size: 4rem;
                font-weight: bold;
            }
        }
    }
}//.wrapper_contents
.area_partition{
    width: 100%;
    height: 2.66rem;
    background: #f7f7f7;
}
.footer_bottom_mCatalog{
    height: 20rem;
    background: #fff;
    border-top: 0.26rem solid #ddd;
    padding-top: 3.33rem;
    .wrapper_mCatalog_fUserImg{
        width: 13.33rem;
        height: 13.33rem;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        .img_mCatalog_fUserImg{
            width: 100%;
            height: 100%;
            background-size: cover !important;
        }//.img_mCatalog_fUserImg
    }//.wrapper_mCatalog_fUserImg
    .wrapper_mCatalog_fUserInfo{
        display: inline-block;
        padding-left: 3.86rem;
        font-size: 4rem;
        p{
            padding-top: 1.6rem;
            padding-bottom: 1.86rem;
        }
        span{
            font-family: $fontRobotoM;
            color: $skRed;
        }//span
    }//.wrapper_mCatalog_fUserInfo
    .wrapper_mCatalog_sendCatalog{
        background: #222;
        text-align: center;
        float: right;
        padding: 4.66rem 5.6rem;
        border-radius: 10rem;
        cursor: pointer;
        p{
            font-size: 3.2rem;
            color: #fff;
        }
    }
}//.footer_bottom_mCatalog

//모바일 카탈로그 뷰
.wrapper_visual_catalog{
    position: relative;
    .wrapper_visual_slide{
        width: 100%;
        height: 100rem;
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
        .wrapper_slide_area{
            position: absolute;
            top: 0;
            left: 0;
            height: 100rem;
            overflow: hidden;
            transition-duration: .4s;
            .wrapper_slide_video{
                float: left;
                width: 100vw;
                height: 100rem;
                background-size: cover !important;
            }//.wrapper_slide_video
        }//.wrapper_slide_area
    }//.wrapper_visual_slide
    .slide_img{
        height: calc(100vh - 13.33rem) !important;
        overflow: hidden;
        .wrapper_slide_area{
            height: calc(100vh - 13.33rem) !important;
            .wrapper_slide_video{
                display: flex;
                align-items: center;
                justify-content: center;
                height: calc(100vh - 13.33rem) !important;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    .wrapper_visual_icon{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 40.66rem 0;
        text-align: center;
        img{
            height: 18.66rem;
        }
        .btn_slide_prev{
            float: left;
        }//.btn_slide_prev
        .btn_slide_play{
            display: inline-block;
        }//.btn_slide_play
        .btn_slide_next{
            float: right;
            img{
                transform: rotate(180deg);
            }//img
        }//.btn_slide_next
        .btn_slide_pagenation{
            position: absolute;
            right: 4rem;
            top: 4rem;
            padding: 1.33rem 2.8rem;
            border-radius: 10rem;
            background: rgba(0,0,0,0.6);
            p{
                font-family: $fontRobotoM;
                font-size: 3.73rem;
                color: #fff;
            }//p
        }//.btn_slide_pagenation
    }//.wrapper_visual_icon
}//.wrapper_visual_catalog
.wrapper_info_tab{
    width:100%;
    padding: 4rem 0;
    label{
        width: 33.33%;
    }
    .inner{
        overflow:hidden;
    }
    .printArea{
        width: 100%;
        padding: 25rem 0;
        margin-top: 10.29rem;
        text-align: center;
        font-size: 4rem;
        background: #fff;
        display: none;
    }
}//.wrapper_info_tabl
//안심 OK서비스 List
.wrapper_products{
    .contents_products_accordionBox{
        position: relative;
        .icon_accordionBox_arrow{
            width: 2.13rem;
            height: 4rem;
            position: absolute;
            top: 5.33rem;
            right: 5.33rem;
            background: url(../images/common/c_arrow.png)no-repeat center top;
            background-size: 100%;
            transform: rotate(90deg);
            transition-duration: .4s;
            pointer-events: none;
        }
        label{
            display: inline-block;
            width: 100%; 
            padding: 5.2rem 0 5.2rem 4rem;
            font-size: 4.26rem;
            font-weight: bold;
            background: #fff;
            border-bottom: 0.13rem solid #e3e3e3;
        }
        input{
            display: none;
        }
        ul{
            display: none;
            padding: 7.33rem 4rem;
            background: #fbfbfb;
            border-bottom: 0.13rem solid #e3e3e3;
            li{
                font-family: $fontNotoR;
                font-size: 4.26rem;
                list-style: none;
                padding-bottom: 8rem;
                &:last-child{
                    padding-bottom: 0;
                }
                &::before {
                    content: "\2022";
                    color: $skRed;
                    font-weight: bold;
                    display: inline-block;
                    margin-right: 2.66rem;
                }//li::before
            }
        }    
    }//.contents_products_accordionBox
}//.wrapper_products

//안심 OK서비스 View
.header_top_okSvcView{
    padding-top: 4.4rem;
    background: #fafafa;
    border-bottom: .13rem solid #a8a8a8; 
    .iconWrapper{
        position: relative;
        .icon_header_back{
            position: absolute;
            font-size: 4.26rem;
            left: 0;
            top: 1.06rem;
        }//icon_header_back
        .icon_header_submit{
            position: absolute;
            font-size: 4.26rem;
            color: #999;
            right: 0;
            padding-top: 1.06rem;
        }
        .icon_header_pdId{
            display:inline-block;
            padding-top: 1.33rem;
            font-family: $fontNotoR;
            font-size: 4.8rem;
            font-weight: bold;
            color: #222;
        }//.icon_header_pdId
        .icon_header_fav{
            display: inline-block;
            position: absolute;
            right: 0;
            input{
                display: none;
            }
            img{
                width: 7.73rem;
            }
        }//.icon_header_fav
        .btn_header_profileSubmit{
            position: absolute;
            right: 0;
            background: none;
            border: 0;
            color: #446cef;
            font-size: 4.26rem;
        }
    }//.iconWrapper
}//.header_top_okSvcView
.wrapper_visual{
    position: relative;
        padding: 4rem 0;
        .wrapper_visual_slide{
            width: 100%;
            height: 96rem;
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            &::-webkit-scrollbar{
                display: none;
            }
            .wrapper_slide_area{
                position: absolute;
                top: 0;
                left: 0;
                height: 96rem;
                overflow: hidden;
                transition-duration: .4s;
                .wrapper_slide_video{
                    float: left;
                    width: calc(100vw - 8rem);
                    height: 96rem;
                    background-size: cover !important;
                }//.wrapper_slide_video
            }//.wrapper_slide_area        
}//.wrapper_visual_slide
    .wrapper_visual_icon{
        position: absolute;
        left: 0;
        top: 4rem;
        width: 100%;
        padding: 38.66rem 0;
        text-align: center;
        img{
            height: 18.66rem;
        }
    }//.wrapper_visual_icon
}//.wrapper_visual
.wrapper_prd_info{
    width: 100%;
    height: 14.4rem;
    margin-bottom: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
    p{
        font-size: 4rem;
        line-height: 1.2;
        letter-spacing: $letter;
        text-align: justify;
    }//p
}//.wrapper_prd_info
.wrapper_related_data{
    display: none;
    h2{
        font-size: 4.26rem;
        font-weight: bold;
        padding-bottom: 2.46rem;
    }//h2
    ul{
        padding-bottom: 8rem;
        li{
            font-family: $fontRobotoM;
            font-size: 4rem;
            list-style: none;
            padding: 2.46rem 0;
            &:last-child{
                padding-bottom: 0;
            }
            &::before {
                content: "\2022";
                color: $skRed;
                font-weight: bold;
                display: inline-block;
                width: 2.66rem;
            }//li::before
        }//li
    }//ul
}//.wrapper_related_data
.wrapper_slide_controller{
    padding: 4rem 0 8rem;
    overflow: hidden;
    border-top: 0.26rem solid #ddd;
    .wrapper_visual_icon{
        width: 100%;
        text-align: center;
        overflow: hidden;
        .btn_slide_ctrl{
            width: 10.66rem;
            padding: 2.74rem 0;
            border: 0.13rem solid #ddd;
            border-radius: 1rem;
            img{
                width: 2.4rem;
            }
        }
        .btn_slide_prev{
            float: left;
        }//.btn_slide_prev
        .btn_slide_next{
            float: right;
            img{
                transform: rotate(180deg);
            }//img
        }//.btn_slide_next
        .btn_slide_pagenation{
            display: inline-block;
            padding-top: 3.33rem;
            p{
                font-family: $fontRobotoM;
                font-size: 4rem;
                color: #999;
                span{
                    color: #222;
                }
            }//p
        }//.btn_slide_pagenation
    }//.wrapper_visual_icon
}
.footer_bottom_okSvcView{
    height: 14.66rem;
    background: #fff;
    padding-top: 5.33rem;
    border-top: 0.26rem solid #999;
    font-size: 4rem;
    .wrapper_footer_userOpn{
        float:left;
        text-align: center;
        cursor: pointer;
        p{
            color: #999;
            span{
                color: #222;
            }//span
        }//p
    }//.wrapper_footer_userOpn
    .wrapper_footer_writeOpn{
        color: #222;
        float: right;
        text-align: center;
        cursor: pointer;
        p{
            display: inline-block;
            padding-right: 2.8rem;
        }
        img{
            width: 2.13rem;
            float: right;
        }
    }//.wrapper_footer_userOpn   
}//.footer_bottom_okSvcView

//교육자료 리스트
.wrapper_progress{
    width: 100%;
    .inner{
        width: 100%;
        overflow: hidden;
    }
    .area_half{
        width: 50%;
        height: 45.33rem;
        float:left;
    }
    .single-chart{
        width: 32rem;
        height: 32rem;
        justify-content: space-around;
        .circular-chart {
            display: block;
            width: 32rem;
            height: 32rem;
            max-width: 32rem;
            max-height: 32rem;
        }
        .circle_bg {
            fill: none;
            stroke: #cbcbcb;
            stroke-width: 4.33;
        }
        .circle {
            fill: none;
            stroke-width: 4.33;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
        }
        .point{
            opacity: 0.1;
        }
        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }
        .circular-chart.skred .circle {
            stroke: $skRed;
        }
    }//.single-chart
    .percentageText{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        width: 32rem;
        height: 32rem;
        line-height: 0.8;
        p{
            font-family: $fontRobotoM;
            font-size: 6.66rem;
            font-weight: bold;
            color: $skRed;
        }
        span{
            font-family: $fontNotoR;
            font-size: 3.33rem;
            font-weight: normal;
            color: #222;
        }
    }//.percentageText
    .wrapper_progress_percent{
        position: relative;
        padding: 6.66rem 5.3rem 0 8.66rem;
        .percentageText{
            left: 8.66rem;
            top: 6.66rem;
        }//.percentageText
    }//.wrapper_progress_percent
    .wrapper_progress_allOp{
        position: relative;
        padding: 6.66rem 8.66rem 0 5.3rem;
        .percentageText{
            right: 8.66rem;
            top: 6.66rem;
        }//.percentageText
    }//.wrapper_progress_allOp
}
.wrapper_curri{
    overflow: hidden;
    .wrapper_category_box{
        width: 100%;
        padding: 4rem 4rem;
        margin-bottom: 1.33rem;
        background: #f6f7f9;
        border: 0.13rem solid #eaeaea;
        border-radius: 1rem;
        overflow:hidden;
        cursor: pointer;
        span,p{
            padding-top: 1.33rem;
        }
        span{
            font-family: $fontRobotoM;
            font-size: 4.66rem;
            font-weight: bold;
            color: $skRed;
            float: left;
            margin-right: 3.33rem;
        }
        p{
            display:inline-block;
            font-size: 4rem;
            font-weight: bold;
        }
        .icon_header_fav{
            float: right;
        }//.icon_header_fav
    }    
}
.wrapperEvents{
    label{
        width:50%;
    }
}
.wrapper_survey{
    label{
        width: calc(100% / 3);
    }
}

//이벤트, 퀴즈설문 공통 리스트 시작
.wrapper_thumnail_list{
    display: none;
    width:100%;
    .wrapper_list_box{
        width: 100%;
        margin-bottom: 4rem;
        overflow:hidden;
        .img_list_box{
            float: left;
            img{
                width: 24rem;
            }//img
            .test_result_score{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16rem;
                height: 16rem;
                border: 0.66rem solid $skRed;
                border-radius: 100%;
                p{
                    font-family: $fontRobotoB;
                    font-size: 5.06rem;
                    color: $skRed;
                    span{
                        font-family: $fontNotoM;
                        font-size: 2.66rem;
                    }
                }
            }
        }//.img_list_box
        .post{
            padding: 4.66rem 0 0 4rem;
        }
        .result{
            display: flex;
            align-items: center;
            height: 16rem;
            width: calc(100% - 22.4rem);
            padding-left: 4rem;
            vertical-align: middle;
        }
        .text_list_box{
            width: calc(100% - 24rem);
            float: left;
            line-height: 1.2;
            p{
                font-family: $fontNotoM;
                font-size: 4rem;
                margin-bottom: 2.33rem;
            }//p
            span{
                font-family: $fontRobotoR;
                font-size: 3.46rem;
                color: #666;
            }
        }//.text_list_box
    }//.wrapper_list_box
    .result_box{
        padding: 4.66rem 0;
        border-bottom: .13rem solid #e7e7e7;
        margin: 0;
        &:first-child{
            padding-top: 0;
        }
    }
}
.wrapper_result{
    display:none;
}
//이벤트, 퀴즈설문 공통 리스트 끝

//이벤트, 퀴즈설문 페이지 탭메뉴 페이징 시작
.wrapperEvents,.wrapper_survey{
    label{
        margin: 4rem 0;
    }
}//.wrapperEvents
//이벤트, 퀴즈설문 페이지 탭메뉴 페이징 끝

//이벤트 뷰 페이지 시작
.wrapper_detail_title{
    width: 100%;
    padding: 5.33rem 0;
    border-bottom: .13rem solid #e8e8e8; 
    p{
        font-family: $fontNotoM;
        font-size: 4.26rem;
        line-height: 1.2;
        margin-bottom: 2.66rem;
    }
    span{
        font-family: $fontRobotoR;
        font-size: 3.73rem;
        color: #666;
    }
}
.wrapper_detail_img{
    width: 100%;
    margin: 4rem 0;
    img{
        max-width: 100%;
    }
}
//이벤트 뷰 페이지 끝

//현장의견 디테일 시작
.wrapper_detail_info{
    width: 100%;
    padding: 2.66rem 0 3.33rem;
    box-sizing: border-box;
    table{
        width:100%;
        font-size: 4rem;
        border-collapse: separate;
        border-spacing: 0 .5rem;
        tr{
            &:nth-child(3){
                td:nth-child(3){
                    padding-top: 4.33rem;
                    padding-bottom: 4rem;
                }
            }
            td{
                line-height: 1.4;
                &:nth-child(1){
                    &:before{
                        content : '•';
                        color: $skRed;
                        font-size: 5rem;
                    }
                }
                &:nth-child(2){
                    p{
                        height: 0;
                        padding-left: 0;
                        font-family: $fontNotoB;
                        text-align: justify;
                        &:after{
                            content: '';
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
                &:nth-child(3){
                    padding-left: 8rem;
                }
            }//td 
        }//tr
    }//table
}//.wrapper_detail_info
.detail_info_notice{
    font-size: 3.2rem;
    padding-top: 5.33rem;
    border-top: .13rem solid #ddd;
    &:before{
        content: '*';
        color: $skRed;
        padding-right: 1rem;
    }
}
//현장의견 디테일 끝
//알림센터 시작
.btn_delete_all{
    width: 100%;
    padding: 3.14rem 0;
    margin-top: 6.66rem;
    background: #222;
    border: 0;
    border-radius: 1rem;
    color: #fff;
    font-family: $fontNotoM;
    font-size: 4.8rem;
}
//알림센터 끝

//매직 라이브 시작
.wrapper_mth_video{
    width: 100%;
    height: 56.26rem;
    background-size: 18.66rem, cover !important;
}
.wrapper_video_info{
    font-size: 4rem;
    border-bottom: .13rem solid #cfcfcf;
    span{
        display: inline-block;
        padding: 4rem 0;
        font-family: $fontNotoM;
    }
    p{
        width: 100%;
        height: 10rem;
        font-family: $fontNotoR;
        color: #444;
        line-height: 1.3;
        overflow-y: hidden;
    }
    button{
        width: 100%;
        padding: 2.26rem 0 3.6rem 0;
        background: none;
        border: 0;
        font-size: 4rem;
        color: #666;
        text-align: left;
    }
}
.wrapper_video_slide{
    width: 100%;
    padding: 4rem 0 5.33rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
        .inner{
            overflow: hidden;
        }
        .wrapper_slide_thumb{
            width: 42.66rem;
            float: left;
            margin-right: 4rem;
            &:last-child{
                margin-right: 0;
            }
            .thumb_slider_video{
                display: block;
                width: 100%;
                height: 24rem;
                background: #222;
                border: 0.66rem solid $skRed;
            }
            .title_slider_video{
                width: 100%;
                font-size: 3.73rem;
                line-height: 1.2;
                padding-top: 2.13rem;
            }
        }
}
.rdMgLive{
    display: block !important;
    padding-top: 8rem;
}
.wrapper_progressBar{
    width: 100%;
    height: 0.66rem;
    background: #222;
    .progress{
        width: 0%;
        height: 100%;
        background: $skRed;
    }
}
.wrapper_reply_count{
    padding: 4.93rem 0;
    p{
        font-family: $fontNotoM;
        font-size: 3.46rem;
        color: #999;
        span{
            color: #222;
        }
    }
}
//매직 라이브 끝

//설문평가 시작
.survey_wrapper{
    .wrapper_survey_title{
        width: 100%;
        padding: 4.93rem 0;
        p{
            font-size: 4.26rem;
            font-family: $fontNotoM;
            padding-bottom: 2.4rem;
        }
        span{
            font-size: 3.73rem;
            font-family: $fontRobotoR;
            color: #666;
        }
    }//.wrapper_survey_title
    .wrapper_survey_qBox{
        width: 100%;
        margin-bottom: 6.66rem;
        thead{
            th{
                padding: 4.93rem 0;
                background: #f5f5f5;
                border-top: .13rem solid #d8d8d8;
            }
            th:nth-child(1){
                font-size: 4.26rem;
                font-family: $fontRobotoB;
                color: $skRed;
                text-align: center;
            }//span
            th:nth-child(2){
                font-size: 4rem;
                font-family: $fontNotoB;
                text-align: left;
            }//p
        }//survey_question
        tbody{
            .survey_checked{
                span{
                    background: #222;
                }
                label{
                    color: #222;
                    font-family: $fontNotoM;
                }
                td{
                    &:nth-child(3){
                        opacity: 1;
                    }
                }
            }
            .survey_answer{
                span{
                    background: $skRed;
                }
                label{
                    color: $skRed;
                    font-family: $fontNotoM;
                }
            }
            .correct{
                td:nth-child(3){
                    opacity: 1;
                }
            }
            td{
                border-bottom: .13rem solid #e7e7e7;
                padding: 4rem 0;
                &:nth-child(1){
                    vertical-align: top;
                    text-align: center;
                }
                &:nth-child(2){
                    input[type=text]{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        padding-right: 4rem;
                        font-size: 4rem;
                        border: 0;
                        &::placeholder{
                            //notoLight
                            color: #999;                        }
                    }
                }
                &:nth-child(3){
                    background: url(../images/survey/i_checked.png)no-repeat center center;
                    background-size: 4rem;
                    opacity: 0;
                }
                span{
                    display: inline-block;
                    text-align: center;
                    padding-top: 12.33%;
                    width: 5.33rem;
                    height: 5.33rem;
                    border-radius: 100%;
                    font-size: 3.2rem;
                    font-family: $fontRobotoM;
                    background: #999;
                    color: #fff;
                }
                input{
                    display: none;
                }
                label{
                    font-family: $fontNotoR;
                    font-size: 4rem;
                    float: left;
                    letter-spacing: $letter;
                    line-height: 1.2;
                    padding-right: 2rem;
                }
            }
            .wrapper_survey_img{
                width: 100%;
                height: 57.33rem;
                padding: 4rem;
                background: #f5f5f5;
                .half_survey_img{
                    width: 50%;
                    text-align: center;
                    float:left;
                    &:last-child{
                        .box_survey_img{
                            float:right;
                        }
                    }
                    .box_survey_img{
                        width: 40rem;
                        height: 40rem;
                        margin-bottom: 3.6rem;
                    }
                    .info_survey_img{
                        font-family: $fontRobotoR;
                        font-size: 3.46rem;
                    }
                }
            }
        }
        .icon_essay_plus{
            background: url(../images/survey/i_essay_plus.png)no-repeat center center;
            background-size: cover;
        }
        .wrapper_essay_answer{
            text-align: left !important;
            p:first-child{
                display: inline-block;
                color: #999;
                font-size: 3.46rem;
                border: .26rem solid #999;
                border-radius: 10rem;
                padding: 1.33rem 1.66rem;
                margin: 0 2.33rem 0 6.33rem;
            }
            p:last-child{
                display: inline-block;
                font-size: 4rem;
            }        
        }
        .correct{
            p:first-child{
                color:$skRed;
                border-color: $skRed;
            }
            p:last-child{
                color:$skRed;
                font-family: $fontNotoB;
            }
        }
    }//wrapper_survey_qBox
    button{
        width: 100%;
        padding: 3.14rem 0;
        border: 0;
        border-radius: 1rem;
        background: #222;
        color: #fff;
        font-family: $fontNotoM;
        font-size: 4.8rem;
    }
}
//설문평가 끝

//공지사항 시작
.wrapper_notice{
    display: flex;
    align-items: center;
    width: 100%;
    height: 24rem;
    background:url(../images/common/i_notice.png)no-repeat center left 4rem;
    background-size: 8rem;
    border-bottom: .13rem solid #e8e8e8;
    .wrapper_notice_info{
        padding-left: 16rem;
        padding-right: 5.33rem;
        p{
            font-family: $fontNotoM;
            font-size: 4.26rem;
            line-height: 1.2;
            padding-bottom: 1.86rem;
        }
        span{
            font-family: $fontRobotoR;
            font-size: 3.46rem;
            color: #666;
        }
    }
}
//공지사항 끝