@charset "UTF-8";
.header_top_main {
  padding-top: 2rem;
  background: #fff;
}

.header_top_main .iconWrapper {
  position: relative;
}

.header_top_main .iconWrapper .icon_header_user {
  width: 6.13rem;
  height: 6.66rem;
  background: url(../images/common/i_user.png) no-repeat center top;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 2.66rem;
}

.header_top_main .iconWrapper .icon_header_logo {
  display: inline-block;
  width: 24rem;
  height: 12.13rem;
  background: url(../images/common/logo.png) no-repeat center top;
  background-size: 100%;
}

.header_top_main .iconWrapper .icon_header_bell {
  position: absolute;
  right: 0;
  top: 2rem;
}

.header_top_main .iconWrapper .icon_header_bell .alert_header_bell {
  display: inline-block;
  width: 5.6rem;
  height: 7.2rem;
  margin-right: -3rem;
  background: url(../images/common/i_bell.png) no-repeat center top;
  background-size: 100%;
}

.header_top_main .iconWrapper .icon_header_bell .alert_header_count {
  position: relative;
  bottom: 4.2rem;
  display: inline-block;
  background: #e51937;
  border-radius: 10rem;
  padding: .89rem 1.54rem;
}

.header_top_main .iconWrapper .icon_header_bell .alert_header_count span {
  font-family: "robotoMedium", sans-serif;
  display: inline-block;
  color: #fff;
  font-size: 2.93rem;
}

.visual_mgsc {
  width: 100%;
  padding: 5.33rem 0;
  background: #fff;
}

.visual_mgsc .form_visual_search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 14.5rem;
  padding-left: 5.33rem;
  border: 0.66rem solid #e51937;
  border-radius: 2.33rem;
  font-family: "notoSansRegular", sans-serif;
  font-size: 4rem;
  letter-spacing: -0.1rem;
  background: url(../images/main/i_search.png) no-repeat right 4rem center, #fff;
  background-size: 6rem;
}

.visual_mgsc .form_visual_search input::-webkit-input-placeholder {
  color: #999;
}

.visual_mgsc .form_visual_search input:-ms-input-placeholder {
  color: #999;
}

.visual_mgsc .form_visual_search input::-ms-input-placeholder {
  color: #999;
}

.visual_mgsc .form_visual_search input::placeholder {
  color: #999;
}

.visual_mgsc .form_visual_search input:focus {
  outline: 0;
}

.wrapper_menu_main {
  width: 100%;
  background: #fff;
  margin-bottom: 2rem;
}

.wrapper_menu_main .iconWrapper {
  width: 100%;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper_menu_main .iconWrapper .icon_menu_box {
  float: left;
  width: calc((100% - 9.32rem) / 3);
  height: 26.66rem;
  border-radius: 2.73rem;
  overflow: hidden;
  margin-right: 4.66rem;
  margin-bottom: 4.66rem;
  background-size: cover !important;
}

.wrapper_menu_main .iconWrapper .icon_menu_box:nth-child(3n) {
  margin-right: 0;
}

.banner_event {
  width: 100%;
  margin-bottom: 5rem;
}

.banner_event .eventWrapper .banner_event_box {
  display: inline-block;
  width: 100%;
  height: 28rem;
  margin-bottom: 3.33rem;
  background-size: cover !important;
}

.footer_bottom_main {
  background: url(../images/common/f_arrow.png) no-repeat center right 5.33rem, #222;
  height: 14.66rem;
  background-size: 2.4rem;
}

.footer_bottom_main .link_notice_footer {
  padding-top: 5.33rem;
}

.footer_bottom_main .link_notice_footer span {
  font-size: 3.73rem;
  color: #fff;
}

.header_top_search {
  background: #fff;
  border-bottom: 0.26rem solid #e51937 !important;
}

.header_top_search .iconWrapper {
  position: relative;
}

.header_top_search .iconWrapper .icon_header_back {
  position: absolute;
  left: 0;
  top: 5.33rem;
}

.header_top_search .iconWrapper input {
  width: 81.33rem;
  height: 16rem;
  padding-left: 4rem;
  border: 0;
  background: none;
  font-family: "notoSansRegular", sans-serif;
  font-size: 4.8rem;
}

.header_top_search .iconWrapper input::-webkit-input-placeholder {
  color: #ccc;
}

.header_top_search .iconWrapper input:-ms-input-placeholder {
  color: #ccc;
}

.header_top_search .iconWrapper input::-ms-input-placeholder {
  color: #ccc;
}

.header_top_search .iconWrapper input::placeholder {
  color: #ccc;
}

.header_top_search .iconWrapper input:focus {
  outline: 0;
}

.header_top_search .iconWrapper .icon_header_search {
  width: 6.66rem;
  height: 6.66rem;
  background: url(../images/main/i_search.png) no-repeat center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 4.66rem;
}

.wrapper_search_history {
  font-family: "notoSansRegular", sans-serif;
  font-size: 4rem;
  padding: 4.93rem 0 2.66rem 0;
  overflow: hidden;
}

.wrapper_search_history span {
  float: left;
  color: #666;
}

.wrapper_search_history a {
  float: right;
  color: #aaa;
}

.wrapper_history_box {
  width: 100%;
  padding: 2.66rem 0;
  overflow: hidden;
}

.wrapper_history_box .icon_history_search {
  width: 8rem;
  height: 8rem;
  float: left;
  background: url(../images/main/i_history_search.png) no-repeat center;
  background-size: cover;
}

.wrapper_history_box .text_history_word {
  width: calc(100% - 28rem);
  float: left;
  font-size: 4.53rem;
  padding: 1.46rem 2rem 0 4rem;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: -0.1rem;
}

.wrapper_history_box .btn_history_delete {
  width: 20rem;
  height: 8rem;
  float: left;
  background: url(../images/main/i_history_delete.png) no-repeat center right;
  background-size: 3.06rem;
}

.search_h2 {
  font-family: "notoSansRegular", sans-serif;
  font-size: 4rem;
  color: #666;
}

.search_h2 span {
  font-size: 4rem;
  font-family: "notoSansBold", sans-serif;
}

.wrapper_search_results .category_search_results {
  padding: 4.73rem 0;
  font-size: 4rem;
  font-family: "notoSansMedium", sans-serif;
  border-bottom: .13rem solid #e8e8e8;
}

.wrapper_search_results ul {
  margin-bottom: 4rem;
}

.wrapper_search_results ul li {
  border-bottom: .13rem solid #e8e8e8;
  padding: 4.66rem 0;
  font-size: 4rem;
  font-family: "notoSansRegular", sans-serif;
  list-style: none;
}

.wrapper_search_results ul li::before {
  content: "\25A0";
  -webkit-transform: scale(0.23);
          transform: scale(0.23);
  color: #e51937;
  font-weight: bold;
  display: inline-block;
  margin-right: 2.66rem;
}

.wrapper_search_results ul li .searched {
  font-style: normal;
  color: #e51937;
  background: #fce8eb;
}

.header_top_mgsList {
  padding-top: 5.06rem;
  background: #fff;
}

.header_top_mgsList .iconWrapper {
  position: relative;
}

.header_top_mgsList .iconWrapper .icon_header_back {
  position: absolute;
  left: 0;
  top: 0.4rem;
}

.header_top_mgsList .iconWrapper .icon_header_id p {
  display: inline-block;
  padding-top: 0.26rem;
  font-size: 4.8rem;
  font-family: "notoSansBold", sans-serif;
  color: #222;
}

.header_top_mgsList .iconWrapper .icon_header_level {
  position: absolute;
  right: 0;
}

.header_top_mgsList .iconWrapper .icon_header_level .alert_header_count {
  display: inline-block;
  background: #e51937;
  border-radius: 10rem;
}

.header_top_mgsList .iconWrapper .icon_header_level .alert_header_count span {
  display: inline-block;
  font-family: "robotoMedium", sans-serif;
  color: #fff;
  font-size: 2.93rem;
  padding: 1.66rem 3.8rem;
}

.wrapper_user {
  width: 100%;
  height: auto;
  background: #f7f7f7;
}

.wrapper_user .box_info {
  width: 100%;
  padding-top: 3.33rem;
  margin: 0 auto 6.66rem;
  overflow: hidden;
}

.wrapper_user .box_info .box_info_detail {
  position: relative;
  width: calc(25% - 0.26rem);
  height: 23rem;
  float: left;
  margin-right: 0.26rem;
}

.wrapper_user .box_info .box_info_detail:last-child {
  margin-right: 0;
}

.wrapper_user .box_info .box_info_detail .icon_user_plus {
  position: absolute;
  width: 6.66rem;
  bottom: 0;
  right: 0;
}

.wrapper_user .box_info .box_info_detail .wrapper_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: url(../images/magicStory/user.png) no-repeat center top;
  background-size: cover !important;
}

.wrapper_user .box_info .box_info_detail .wrapper_text {
  padding-top: 7rem;
  text-align: center;
}

.wrapper_user .box_info .box_info_detail .wrapper_text p {
  font-size: 3.73rem;
}

.wrapper_user .box_info .box_info_detail .wrapper_text span {
  display: inline-block;
  font-size: 4.8rem;
  font-family: "robotoBold", sans-serif;
  padding-bottom: 1.2rem;
}

.wrapper_user .btn_userinfo_edit {
  width: 100%;
  padding: .88rem 0;
  background: #fff;
  border: 0.4rem solid #ccc;
  font-family: "notoSansRegular", sans-serif;
  font-size: 3.73rem;
  color: #222;
  letter-spacing: -0.1rem;
}

.wrapper_user .box_follow {
  width: 100%;
  overflow: hidden;
}

.wrapper_user .box_follow .box_follow_count {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 3.73rem;
}

.wrapper_user .box_follow .box_follow_count .wrapper_text {
  padding: 5.85rem 0;
}

.wrapper_user .box_follow .box_follow_count .wrapper_text p {
  font-size: 3.73rem;
  display: inline-block;
}

.wrapper_user .box_follow .box_follow_count .wrapper_text span {
  font-size: 4rem;
  font-family: "robotoMedium", sans-serif;
}

.table_user_post {
  width: 100%;
  height: auto;
}

.table_user_post table {
  margin: 0 auto;
  border: 1px solid black;
}

.table_user_post table caption {
  display: none;
}

.table_user_post table tbody tr td {
  position: relative;
  width: 33.33vw;
  height: 33.33vw;
  border: 0.4rem solid #fff;
  background-size: cover !important;
  background-repeat: none;
  background-position: center top;
  cursor: pointer;
}

.table_user_post table tbody tr td .special {
  width: 5.33rem;
  height: 5.33rem;
  position: absolute;
  top: 1.33rem;
  right: 1.33rem;
  background: url(../images/magicStory/special.png) no-repeat center top;
  background-size: cover !important;
}

.footer_bottom_mgStory {
  background: #fff;
  border-top: 0.26rem solid #999;
}

.footer_bottom_mgStory .wrapper_footer_icon {
  width: 25%;
  height: 14.66rem;
  float: left;
  text-align: center;
  padding-top: 2.66rem;
}

.footer_bottom_mgStory .wrapper_footer_icon img {
  height: 5.33rem;
  margin-bottom: 1.33rem;
}

.footer_bottom_mgStory .wrapper_footer_icon p {
  font-size: 2.66rem;
  color: #555;
}

.wrapper_profile_edit {
  width: 100%;
}

.wrapper_profile_edit .wrapper_profile_img {
  width: 100%;
  padding: 2.66rem 4rem;
  margin: 4rem 0;
  text-align: center;
}

.wrapper_profile_edit .wrapper_profile_img .box_profile_img {
  width: 26.66rem;
  height: 26.66rem;
  background: url(../images/magicStory/img_profile_default.png) no-repeat center;
  background-size: cover;
  margin: 0 auto 3.6rem;
}

.wrapper_profile_edit .wrapper_profile_img button {
  border-radius: 0;
  background: none;
  border: 0;
  color: #446cef;
  font-family: "notoSansMedium", sans-serif;
  font-size: 3.73rem;
}

.wrapper_profile_info {
  width: 100%;
  font-size: 4.26rem;
  border-top: .13rem solid #e8e8e8;
  border-bottom: .13rem solid #e8e8e8;
}

.wrapper_profile_info label {
  width: 26.08rem;
  height: 13.33rem;
  padding-top: 4.53rem;
  float: left;
  font-family: "notoSansRegular", sans-serif;
}

.wrapper_profile_info input {
  width: calc(100% - 26.08rem);
  font-size: 4.26rem;
  height: 13.33rem;
  border: 0;
  font-family: "notoSansMedium", sans-serif;
}

.wrapper_profile_info input::-webkit-input-placeholder {
  font-family: "notoSansRegular", sans-serif;
  color: #e8e8e8;
}

.wrapper_profile_info input:-ms-input-placeholder {
  font-family: "notoSansRegular", sans-serif;
  color: #e8e8e8;
}

.wrapper_profile_info input::-ms-input-placeholder {
  font-family: "notoSansRegular", sans-serif;
  color: #e8e8e8;
}

.wrapper_profile_info input::placeholder {
  font-family: "notoSansRegular", sans-serif;
  color: #e8e8e8;
}

.wrapper_profile_info .input_profile_name {
  border-bottom: .13rem solid #e8e8e8;
}

.btn_profile_submit {
  width: 100%;
  background: #000;
  color: #fff;
  border: 0;
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 4.26rem;
}

.header_top_mgsView {
  padding-top: 5.06rem;
  background: #fafafa;
  border-bottom: 0.13rem solid #a8a8a8;
}

.header_top_mgsView .iconWrapper {
  position: relative;
}

.header_top_mgsView .iconWrapper .icon_header_back {
  position: absolute;
  left: 0;
  top: 0.4rem;
}

.header_top_mgsView .iconWrapper .icon_header_option {
  width: 5.6rem;
  height: 1.33rem;
  position: absolute;
  right: 0;
  top: 1.86rem;
  background: url(../images/magicStory/option.png) no-repeat center top;
  background-size: 100%;
}

.wrapper_story_info {
  width: 100%;
  padding: 4rem 0;
}

.wrapper_story_info .wrapper_info_detail {
  overflow: hidden;
}

.wrapper_story_info .wrapper_info_detail .icon_info_userPic {
  float: left;
  width: 10.66rem;
  height: 10.66rem;
  border-radius: 50%;
  overflow: hidden;
  background: url(../images/magicStory/user.png) no-repeat center top;
  background-size: cover;
}

.wrapper_story_info .wrapper_info_detail .box_info_idtime {
  display: inline-block;
  padding-top: .93rem;
  padding-left: 2.93rem;
}

.wrapper_story_info .wrapper_info_detail .box_info_idtime p {
  font-family: "notoSansMedium", sans-serif;
  font-size: 4rem;
  padding-bottom: .93rem;
}

.wrapper_story_info .wrapper_info_detail .box_info_idtime span {
  font-size: 3.2rem;
  color: #999;
}

.cont_story_view {
  width: 100%;
}

.cont_story_view .wrapper_cont_text {
  padding-bottom: 5.33rem;
}

.cont_story_view .wrapper_cont_text p {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

.cont_story_view .wrapper_cont_img {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.cont_story_view .wrapper_cont_img:last-child {
  margin-bottom: 0;
}

.cont_story_view .wrapper_cont_img img {
  width: 100%;
}

.cont_story_view .wrapper_cont_img i.edit {
  position: absolute;
  top: 2.66rem;
  right: 2.66rem;
  width: 17.33rem;
  height: 8rem;
  background: url(../images/magicStory/i_edit.png) no-repeat center top;
  background-size: cover !important;
  cursor: pointer;
}

.wrapper_story_reply {
  width: 100%;
  padding: 4rem 0;
  border-top: 2rem solid #f7f7f7;
}

.wrapper_story_reply .inner {
  overflow: hidden;
}

.wrapper_story_reply .wrapper_btn_like {
  float: left;
}

.wrapper_story_reply .wrapper_btn_like label {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  overflow: hidden;
  background: url(../images/magicStory/btnLike.png) no-repeat center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.wrapper_story_reply .wrapper_btn_like input {
  display: none;
}

.wrapper_story_reply .wrapper_btn_like input:checked + label {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.wrapper_story_reply .wrapper_count_like {
  display: inline-block;
  font-size: 3.46rem;
  margin-left: 2.66rem;
  padding-top: 2rem;
}

.wrapper_story_reply .wrapper_count_like p {
  color: #666;
  display: inline-block;
}

.wrapper_story_reply .wrapper_count_like span {
  margin-left: 0.53rem;
}

.wrapper_story_reply button {
  padding: 1.86rem 2.66rem;
  border-radius: 1rem;
  float: right;
  background: #fff;
  color: #666;
  font-size: 3.2rem;
  border: 0.23rem solid #e7e7e7;
}

.wrapper_reply_area .wrapper_reply_userImg {
  width: 10.66rem;
}

.wrapper_reply_area .wrapper_reply_userImg .img_reply_userImg {
  width: 8rem;
  height: 8rem;
}

.wrapper_reply_area .wrapper_reply_box {
  padding: 4rem 0;
  border-top: 0.13rem solid #e8e8e8;
}

.wrapper_reply_area .wrapper_reply_box .id_reply_userid {
  display: inline-block;
}

.wrapper_reply_area .wrapper_reply_box .id_reply_userid p {
  font-size: 4rem;
}

.wrapper_reply_area .wrapper_reply_info {
  padding-left: 10.66rem;
}

.wrapper_reply_area .wrapper_reply_info span {
  font-size: 3.73rem;
  color: #999;
}

.wrapper_reply_area .wrapper_reply_img {
  width: 40rem;
  height: auto;
  margin: 1.07rem 0 2.93rem 10.66rem;
}

.wrapper_reply_area .wrapper_reply_img img {
  max-width: 100%;
}

.wrapper_alarm_area {
  border-bottom: 0.13rem solid #e8e8e8;
  padding: 0 4rem;
}

.wrapper_alarm_area .wrapper_reply_userImg {
  width: 12rem;
  margin-right: 4rem;
}

.wrapper_alarm_area .wrapper_reply_userImg .img_reply_userImg {
  width: 12rem;
  height: 12rem;
}

.wrapper_alarm_area .wrapper_reply_box {
  padding: 6rem 0;
}

.wrapper_alarm_area .wrapper_reply_box .id_reply_userid {
  display: inline-block;
}

.wrapper_alarm_area .wrapper_reply_box .id_reply_userid p {
  font-size: 4.26rem;
  line-height: 1.2;
}

.wrapper_alarm_area .wrapper_reply_box .wrapper_reply_noticeImg {
  float: left;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background: url(../images/common/i_notice.png) no-repeat center top;
  background-size: cover;
  margin-right: 4rem;
}

.wrapper_alarm_area .follow_box {
  background: url(../images/magicStory/b_arrow.png) no-repeat center right;
  background-size: 2.13rem;
}

.wrapper_alarm_area .wrapper_reply_info {
  padding-left: 15.66rem;
}

.wrapper_alarm_area .wrapper_reply_info span {
  font-size: 3.46rem;
  color: #999;
}

.wrapper_comentArea {
  width: 100%;
}

.wrapper_comentArea .wrapper_reply_userImg {
  float: left;
}

.wrapper_comentArea .wrapper_reply_userImg .img_reply_userImg {
  border-radius: 50%;
  overflow: hidden;
  background-size: cover !important;
}

.wrapper_comentArea .wrapper_reply_box {
  overflow: hidden;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_idOption {
  overflow: hidden;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_idOption .id_reply_userid {
  display: inline-block;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_idOption .id_reply_userid p {
  padding-top: .93rem;
  padding-bottom: 2.13rem;
  font-family: "notoSansMedium", sans-serif;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_idOption .id_reply_userid .name {
  padding-bottom: 1.46rem;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_idOption .btn_reply_option {
  float: right;
  width: 0.8rem;
  height: 4rem;
  background: url(../images/magicStory/r_option.png) no-repeat center top;
  background-size: 100%;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_text {
  padding-right: 2.53rem;
  padding-bottom: 1.86rem;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_text p {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  padding-left: 10.66rem;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_info span {
  color: #999;
}

.wrapper_comentArea .wrapper_reply_box .wrapper_reply_info span:nth-child(2) {
  margin-left: 7.2rem;
  cursor: pointer;
}

.wrapper_comentArea .wrapper_reply_box .follow_info span {
  color: #666;
}

.wrapper_comentArea .wrapper_reply_box .follow_info span .count_num {
  color: #222;
}

.wrapper_comentArea .wrapper_reply_box .follow_info .icon_heart {
  margin-left: 4rem !important;
  padding-left: 4.33rem;
  background: url(../images/magicStory/i_heart.png) no-repeat center left;
  background-size: 3.33rem;
}

.wrapper_comentArea .wrapper_reply_seeMore {
  width: 100%;
  height: 11.6rem;
  padding-top: 0.8rem;
  cursor: pointer;
}

.wrapper_comentArea .wrapper_reply_seeMore p {
  padding-left: 10.66rem;
  font-size: 4rem;
}

.wrapper_comentArea .replyWrite input {
  width: 100%;
  padding: 1rem 0 1.86rem 0;
  background: none;
  border: 0;
  font-family: "notoSansRegular", sans-serif;
  font-size: 4rem;
}

.wrapper_comentArea .replyWrite input::-webkit-input-placeholder {
  font-size: 4rem;
  color: #999;
}

.wrapper_comentArea .replyWrite input:-ms-input-placeholder {
  font-size: 4rem;
  color: #999;
}

.wrapper_comentArea .replyWrite input::-ms-input-placeholder {
  font-size: 4rem;
  color: #999;
}

.wrapper_comentArea .replyWrite input::placeholder {
  font-size: 4rem;
  color: #999;
}

.wrapper_comentArea .coments {
  padding-left: 10.66rem;
}

.wrapper_contents {
  width: 100%;
}

.wrapper_contents .wrapper_best_item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.33rem;
}

.wrapper_contents .wrapper_best_item .wrapper_product_box {
  float: left;
  margin-right: 4rem;
  width: 44rem;
  cursor: pointer;
}

.wrapper_contents .wrapper_best_item .wrapper_product_box:nth-child(2n+1) {
  margin-right: 0;
}

.wrapper_contents .wrapper_best_item .wrapper_product_box .img_product_box {
  width: 100%;
  height: 44rem;
  background-size: cover !important;
}

.wrapper_contents .wrapper_best_item .wrapper_product_box .text_product_box {
  width: 100%;
  height: 18.66rem;
  padding-top: 3.46rem;
}

.wrapper_contents .wrapper_best_item .wrapper_product_box .text_product_box span {
  display: inline-block;
  font-size: 3.2rem;
  font-family: "robotoMedium", sans-serif;
  color: #999;
  padding-bottom: 1.6rem;
}

.wrapper_contents .wrapper_best_item .wrapper_product_box .text_product_box p {
  font-size: 3.73rem;
}

.wrapper_contents .wrapper_category {
  margin-bottom: 4rem;
  overflow: hidden;
}

.wrapper_contents .wrapper_category .wrapper_category_box {
  float: left;
  width: 44.66rem;
  padding: 5.6rem 4rem;
  margin-right: 2.66rem;
  margin-bottom: 2.66rem;
  border: 0.13rem solid #eaeaea;
  background: url(../images/common/c_arrow.png) no-repeat center right 4rem, #f6f7f9;
  background-size: 2.13rem;
  border-radius: 1rem;
  cursor: pointer;
}

.wrapper_contents .wrapper_category .wrapper_category_box:nth-child(2n+1) {
  margin-right: 0;
}

.wrapper_contents .wrapper_category .wrapper_category_box p {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
}

.area_partition {
  width: 100%;
  height: 2.66rem;
  background: #f7f7f7;
}

.footer_bottom_mCatalog {
  height: 20rem;
  background: #fff;
  border-top: 0.26rem solid #ddd;
  padding-top: 3.33rem;
}

.footer_bottom_mCatalog .wrapper_mCatalog_fUserImg {
  width: 13.33rem;
  height: 13.33rem;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.footer_bottom_mCatalog .wrapper_mCatalog_fUserImg .img_mCatalog_fUserImg {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.footer_bottom_mCatalog .wrapper_mCatalog_fUserInfo {
  display: inline-block;
  padding-left: 3.86rem;
  font-size: 4rem;
}

.footer_bottom_mCatalog .wrapper_mCatalog_fUserInfo p {
  padding-top: 1.6rem;
  padding-bottom: 1.86rem;
}

.footer_bottom_mCatalog .wrapper_mCatalog_fUserInfo span {
  font-family: "robotoMedium", sans-serif;
  color: #e51937;
}

.footer_bottom_mCatalog .wrapper_mCatalog_sendCatalog {
  background: #222;
  text-align: center;
  float: right;
  padding: 4.66rem 5.6rem;
  border-radius: 10rem;
  cursor: pointer;
}

.footer_bottom_mCatalog .wrapper_mCatalog_sendCatalog p {
  font-size: 3.2rem;
  color: #fff;
}

.wrapper_visual_catalog {
  position: relative;
}

.wrapper_visual_catalog .wrapper_visual_slide {
  width: 100%;
  height: 100rem;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper_visual_catalog .wrapper_visual_slide::-webkit-scrollbar {
  display: none;
}

.wrapper_visual_catalog .wrapper_visual_slide .wrapper_slide_area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100rem;
  overflow: hidden;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.wrapper_visual_catalog .wrapper_visual_slide .wrapper_slide_area .wrapper_slide_video {
  float: left;
  width: 100vw;
  height: 100rem;
  background-size: cover !important;
}

.wrapper_visual_catalog .slide_img {
  height: calc(100vh - 13.33rem) !important;
  overflow: hidden;
}

.wrapper_visual_catalog .slide_img .wrapper_slide_area {
  height: calc(100vh - 13.33rem) !important;
}

.wrapper_visual_catalog .slide_img .wrapper_slide_area .wrapper_slide_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 13.33rem) !important;
}

.wrapper_visual_catalog .slide_img .wrapper_slide_area .wrapper_slide_video img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper_visual_catalog .wrapper_visual_icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 40.66rem 0;
  text-align: center;
}

.wrapper_visual_catalog .wrapper_visual_icon img {
  height: 18.66rem;
}

.wrapper_visual_catalog .wrapper_visual_icon .btn_slide_prev {
  float: left;
}

.wrapper_visual_catalog .wrapper_visual_icon .btn_slide_play {
  display: inline-block;
}

.wrapper_visual_catalog .wrapper_visual_icon .btn_slide_next {
  float: right;
}

.wrapper_visual_catalog .wrapper_visual_icon .btn_slide_next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper_visual_catalog .wrapper_visual_icon .btn_slide_pagenation {
  position: absolute;
  right: 4rem;
  top: 4rem;
  padding: 1.33rem 2.8rem;
  border-radius: 10rem;
  background: rgba(0, 0, 0, 0.6);
}

.wrapper_visual_catalog .wrapper_visual_icon .btn_slide_pagenation p {
  font-family: "robotoMedium", sans-serif;
  font-size: 3.73rem;
  color: #fff;
}

.wrapper_info_tab {
  width: 100%;
  padding: 4rem 0;
}

.wrapper_info_tab label {
  width: 33.33%;
}

.wrapper_info_tab .inner {
  overflow: hidden;
}

.wrapper_info_tab .printArea {
  width: 100%;
  padding: 25rem 0;
  margin-top: 10.29rem;
  text-align: center;
  font-size: 4rem;
  background: #fff;
  display: none;
}

.wrapper_products .contents_products_accordionBox {
  position: relative;
}

.wrapper_products .contents_products_accordionBox .icon_accordionBox_arrow {
  width: 2.13rem;
  height: 4rem;
  position: absolute;
  top: 5.33rem;
  right: 5.33rem;
  background: url(../images/common/c_arrow.png) no-repeat center top;
  background-size: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  pointer-events: none;
}

.wrapper_products .contents_products_accordionBox label {
  display: inline-block;
  width: 100%;
  padding: 5.2rem 0 5.2rem 4rem;
  font-size: 4.26rem;
  font-weight: bold;
  background: #fff;
  border-bottom: 0.13rem solid #e3e3e3;
}

.wrapper_products .contents_products_accordionBox input {
  display: none;
}

.wrapper_products .contents_products_accordionBox ul {
  display: none;
  padding: 7.33rem 4rem;
  background: #fbfbfb;
  border-bottom: 0.13rem solid #e3e3e3;
}

.wrapper_products .contents_products_accordionBox ul li {
  font-family: "notoSansRegular", sans-serif;
  font-size: 4.26rem;
  list-style: none;
  padding-bottom: 8rem;
}

.wrapper_products .contents_products_accordionBox ul li:last-child {
  padding-bottom: 0;
}

.wrapper_products .contents_products_accordionBox ul li::before {
  content: "\2022";
  color: #e51937;
  font-weight: bold;
  display: inline-block;
  margin-right: 2.66rem;
}

.header_top_okSvcView {
  padding-top: 4.4rem;
  background: #fafafa;
  border-bottom: .13rem solid #a8a8a8;
}

.header_top_okSvcView .iconWrapper {
  position: relative;
}

.header_top_okSvcView .iconWrapper .icon_header_back {
  position: absolute;
  font-size: 4.26rem;
  left: 0;
  top: 1.06rem;
}

.header_top_okSvcView .iconWrapper .icon_header_submit {
  position: absolute;
  font-size: 4.26rem;
  color: #999;
  right: 0;
  padding-top: 1.06rem;
}

.header_top_okSvcView .iconWrapper .icon_header_pdId {
  display: inline-block;
  padding-top: 1.33rem;
  font-family: "notoSansRegular", sans-serif;
  font-size: 4.8rem;
  font-weight: bold;
  color: #222;
}

.header_top_okSvcView .iconWrapper .icon_header_fav {
  display: inline-block;
  position: absolute;
  right: 0;
}

.header_top_okSvcView .iconWrapper .icon_header_fav input {
  display: none;
}

.header_top_okSvcView .iconWrapper .icon_header_fav img {
  width: 7.73rem;
}

.header_top_okSvcView .iconWrapper .btn_header_profileSubmit {
  position: absolute;
  right: 0;
  background: none;
  border: 0;
  color: #446cef;
  font-size: 4.26rem;
}

.wrapper_visual {
  position: relative;
  padding: 4rem 0;
}

.wrapper_visual .wrapper_visual_slide {
  width: 100%;
  height: 96rem;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper_visual .wrapper_visual_slide::-webkit-scrollbar {
  display: none;
}

.wrapper_visual .wrapper_visual_slide .wrapper_slide_area {
  position: absolute;
  top: 0;
  left: 0;
  height: 96rem;
  overflow: hidden;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.wrapper_visual .wrapper_visual_slide .wrapper_slide_area .wrapper_slide_video {
  float: left;
  width: calc(100vw - 8rem);
  height: 96rem;
  background-size: cover !important;
}

.wrapper_visual .wrapper_visual_icon {
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  padding: 38.66rem 0;
  text-align: center;
}

.wrapper_visual .wrapper_visual_icon img {
  height: 18.66rem;
}

.wrapper_prd_info {
  width: 100%;
  height: 14.4rem;
  margin-bottom: 8rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper_prd_info::-webkit-scrollbar {
  display: none;
}

.wrapper_prd_info p {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  text-align: justify;
}

.wrapper_related_data {
  display: none;
}

.wrapper_related_data h2 {
  font-size: 4.26rem;
  font-weight: bold;
  padding-bottom: 2.46rem;
}

.wrapper_related_data ul {
  padding-bottom: 8rem;
}

.wrapper_related_data ul li {
  font-family: "robotoMedium", sans-serif;
  font-size: 4rem;
  list-style: none;
  padding: 2.46rem 0;
}

.wrapper_related_data ul li:last-child {
  padding-bottom: 0;
}

.wrapper_related_data ul li::before {
  content: "\2022";
  color: #e51937;
  font-weight: bold;
  display: inline-block;
  width: 2.66rem;
}

.wrapper_slide_controller {
  padding: 4rem 0 8rem;
  overflow: hidden;
  border-top: 0.26rem solid #ddd;
}

.wrapper_slide_controller .wrapper_visual_icon {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_ctrl {
  width: 10.66rem;
  padding: 2.74rem 0;
  border: 0.13rem solid #ddd;
  border-radius: 1rem;
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_ctrl img {
  width: 2.4rem;
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_prev {
  float: left;
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_next {
  float: right;
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_pagenation {
  display: inline-block;
  padding-top: 3.33rem;
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_pagenation p {
  font-family: "robotoMedium", sans-serif;
  font-size: 4rem;
  color: #999;
}

.wrapper_slide_controller .wrapper_visual_icon .btn_slide_pagenation p span {
  color: #222;
}

.footer_bottom_okSvcView {
  height: 14.66rem;
  background: #fff;
  padding-top: 5.33rem;
  border-top: 0.26rem solid #999;
  font-size: 4rem;
}

.footer_bottom_okSvcView .wrapper_footer_userOpn {
  float: left;
  text-align: center;
  cursor: pointer;
}

.footer_bottom_okSvcView .wrapper_footer_userOpn p {
  color: #999;
}

.footer_bottom_okSvcView .wrapper_footer_userOpn p span {
  color: #222;
}

.footer_bottom_okSvcView .wrapper_footer_writeOpn {
  color: #222;
  float: right;
  text-align: center;
  cursor: pointer;
}

.footer_bottom_okSvcView .wrapper_footer_writeOpn p {
  display: inline-block;
  padding-right: 2.8rem;
}

.footer_bottom_okSvcView .wrapper_footer_writeOpn img {
  width: 2.13rem;
  float: right;
}

.wrapper_progress {
  width: 100%;
}

.wrapper_progress .inner {
  width: 100%;
  overflow: hidden;
}

.wrapper_progress .area_half {
  width: 50%;
  height: 45.33rem;
  float: left;
}

.wrapper_progress .single-chart {
  width: 32rem;
  height: 32rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper_progress .single-chart .circular-chart {
  display: block;
  width: 32rem;
  height: 32rem;
  max-width: 32rem;
  max-height: 32rem;
}

.wrapper_progress .single-chart .circle_bg {
  fill: none;
  stroke: #cbcbcb;
  stroke-width: 4.33;
}

.wrapper_progress .single-chart .circle {
  fill: none;
  stroke-width: 4.33;
  stroke-linecap: round;
  -webkit-animation: progress 1s ease-out forwards;
          animation: progress 1s ease-out forwards;
}

.wrapper_progress .single-chart .point {
  opacity: 0.1;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.wrapper_progress .single-chart .circular-chart.skred .circle {
  stroke: #e51937;
}

.wrapper_progress .percentageText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  width: 32rem;
  height: 32rem;
  line-height: 0.8;
}

.wrapper_progress .percentageText p {
  font-family: "robotoMedium", sans-serif;
  font-size: 6.66rem;
  font-weight: bold;
  color: #e51937;
}

.wrapper_progress .percentageText span {
  font-family: "notoSansRegular", sans-serif;
  font-size: 3.33rem;
  font-weight: normal;
  color: #222;
}

.wrapper_progress .wrapper_progress_percent {
  position: relative;
  padding: 6.66rem 5.3rem 0 8.66rem;
}

.wrapper_progress .wrapper_progress_percent .percentageText {
  left: 8.66rem;
  top: 6.66rem;
}

.wrapper_progress .wrapper_progress_allOp {
  position: relative;
  padding: 6.66rem 8.66rem 0 5.3rem;
}

.wrapper_progress .wrapper_progress_allOp .percentageText {
  right: 8.66rem;
  top: 6.66rem;
}

.wrapper_curri {
  overflow: hidden;
}

.wrapper_curri .wrapper_category_box {
  width: 100%;
  padding: 4rem 4rem;
  margin-bottom: 1.33rem;
  background: #f6f7f9;
  border: 0.13rem solid #eaeaea;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.wrapper_curri .wrapper_category_box span, .wrapper_curri .wrapper_category_box p {
  padding-top: 1.33rem;
}

.wrapper_curri .wrapper_category_box span {
  font-family: "robotoMedium", sans-serif;
  font-size: 4.66rem;
  font-weight: bold;
  color: #e51937;
  float: left;
  margin-right: 3.33rem;
}

.wrapper_curri .wrapper_category_box p {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
}

.wrapper_curri .wrapper_category_box .icon_header_fav {
  float: right;
}

.wrapperEvents label {
  width: 50%;
}

.wrapper_survey label {
  width: calc(100% / 3);
}

.wrapper_thumnail_list {
  display: none;
  width: 100%;
}

.wrapper_thumnail_list .wrapper_list_box {
  width: 100%;
  margin-bottom: 4rem;
  overflow: hidden;
}

.wrapper_thumnail_list .wrapper_list_box .img_list_box {
  float: left;
}

.wrapper_thumnail_list .wrapper_list_box .img_list_box img {
  width: 24rem;
}

.wrapper_thumnail_list .wrapper_list_box .img_list_box .test_result_score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16rem;
  height: 16rem;
  border: 0.66rem solid #e51937;
  border-radius: 100%;
}

.wrapper_thumnail_list .wrapper_list_box .img_list_box .test_result_score p {
  font-family: "robotoBold", sans-serif;
  font-size: 5.06rem;
  color: #e51937;
}

.wrapper_thumnail_list .wrapper_list_box .img_list_box .test_result_score p span {
  font-family: "notoSansMedium", sans-serif;
  font-size: 2.66rem;
}

.wrapper_thumnail_list .wrapper_list_box .post {
  padding: 4.66rem 0 0 4rem;
}

.wrapper_thumnail_list .wrapper_list_box .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16rem;
  width: calc(100% - 22.4rem);
  padding-left: 4rem;
  vertical-align: middle;
}

.wrapper_thumnail_list .wrapper_list_box .text_list_box {
  width: calc(100% - 24rem);
  float: left;
  line-height: 1.2;
}

.wrapper_thumnail_list .wrapper_list_box .text_list_box p {
  font-family: "notoSansMedium", sans-serif;
  font-size: 4rem;
  margin-bottom: 2.33rem;
}

.wrapper_thumnail_list .wrapper_list_box .text_list_box span {
  font-family: "robotoRegular", sans-serif;
  font-size: 3.46rem;
  color: #666;
}

.wrapper_thumnail_list .result_box {
  padding: 4.66rem 0;
  border-bottom: .13rem solid #e7e7e7;
  margin: 0;
}

.wrapper_thumnail_list .result_box:first-child {
  padding-top: 0;
}

.wrapper_result {
  display: none;
}

.wrapperEvents label, .wrapper_survey label {
  margin: 4rem 0;
}

.wrapper_detail_title {
  width: 100%;
  padding: 5.33rem 0;
  border-bottom: .13rem solid #e8e8e8;
}

.wrapper_detail_title p {
  font-family: "notoSansMedium", sans-serif;
  font-size: 4.26rem;
  line-height: 1.2;
  margin-bottom: 2.66rem;
}

.wrapper_detail_title span {
  font-family: "robotoRegular", sans-serif;
  font-size: 3.73rem;
  color: #666;
}

.wrapper_detail_img {
  width: 100%;
  margin: 4rem 0;
}

.wrapper_detail_img img {
  max-width: 100%;
}

.wrapper_detail_info {
  width: 100%;
  padding: 2.66rem 0 3.33rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper_detail_info table {
  width: 100%;
  font-size: 4rem;
  border-collapse: separate;
  border-spacing: 0 .5rem;
}

.wrapper_detail_info table tr:nth-child(3) td:nth-child(3) {
  padding-top: 4.33rem;
  padding-bottom: 4rem;
}

.wrapper_detail_info table tr td {
  line-height: 1.4;
}

.wrapper_detail_info table tr td:nth-child(1):before {
  content: '•';
  color: #e51937;
  font-size: 5rem;
}

.wrapper_detail_info table tr td:nth-child(2) p {
  height: 0;
  padding-left: 0;
  font-family: "notoSansBold", sans-serif;
  text-align: justify;
}

.wrapper_detail_info table tr td:nth-child(2) p:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.wrapper_detail_info table tr td:nth-child(3) {
  padding-left: 8rem;
}

.detail_info_notice {
  font-size: 3.2rem;
  padding-top: 5.33rem;
  border-top: .13rem solid #ddd;
}

.detail_info_notice:before {
  content: '*';
  color: #e51937;
  padding-right: 1rem;
}

.btn_delete_all {
  width: 100%;
  padding: 3.14rem 0;
  margin-top: 6.66rem;
  background: #222;
  border: 0;
  border-radius: 1rem;
  color: #fff;
  font-family: "notoSansMedium", sans-serif;
  font-size: 4.8rem;
}

.wrapper_mth_video {
  width: 100%;
  height: 56.26rem;
  background-size: 18.66rem, cover !important;
}

.wrapper_video_info {
  font-size: 4rem;
  border-bottom: .13rem solid #cfcfcf;
}

.wrapper_video_info span {
  display: inline-block;
  padding: 4rem 0;
  font-family: "notoSansMedium", sans-serif;
}

.wrapper_video_info p {
  width: 100%;
  height: 10rem;
  font-family: "notoSansRegular", sans-serif;
  color: #444;
  line-height: 1.3;
  overflow-y: hidden;
}

.wrapper_video_info button {
  width: 100%;
  padding: 2.26rem 0 3.6rem 0;
  background: none;
  border: 0;
  font-size: 4rem;
  color: #666;
  text-align: left;
}

.wrapper_video_slide {
  width: 100%;
  padding: 4rem 0 5.33rem 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.wrapper_video_slide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.wrapper_video_slide .inner {
  overflow: hidden;
}

.wrapper_video_slide .wrapper_slide_thumb {
  width: 42.66rem;
  float: left;
  margin-right: 4rem;
}

.wrapper_video_slide .wrapper_slide_thumb:last-child {
  margin-right: 0;
}

.wrapper_video_slide .wrapper_slide_thumb .thumb_slider_video {
  display: block;
  width: 100%;
  height: 24rem;
  background: #222;
  border: 0.66rem solid #e51937;
}

.wrapper_video_slide .wrapper_slide_thumb .title_slider_video {
  width: 100%;
  font-size: 3.73rem;
  line-height: 1.2;
  padding-top: 2.13rem;
}

.rdMgLive {
  display: block !important;
  padding-top: 8rem;
}

.wrapper_progressBar {
  width: 100%;
  height: 0.66rem;
  background: #222;
}

.wrapper_progressBar .progress {
  width: 0%;
  height: 100%;
  background: #e51937;
}

.wrapper_reply_count {
  padding: 4.93rem 0;
}

.wrapper_reply_count p {
  font-family: "notoSansMedium", sans-serif;
  font-size: 3.46rem;
  color: #999;
}

.wrapper_reply_count p span {
  color: #222;
}

.survey_wrapper .wrapper_survey_title {
  width: 100%;
  padding: 4.93rem 0;
}

.survey_wrapper .wrapper_survey_title p {
  font-size: 4.26rem;
  font-family: "notoSansMedium", sans-serif;
  padding-bottom: 2.4rem;
}

.survey_wrapper .wrapper_survey_title span {
  font-size: 3.73rem;
  font-family: "robotoRegular", sans-serif;
  color: #666;
}

.survey_wrapper .wrapper_survey_qBox {
  width: 100%;
  margin-bottom: 6.66rem;
}

.survey_wrapper .wrapper_survey_qBox thead th {
  padding: 4.93rem 0;
  background: #f5f5f5;
  border-top: .13rem solid #d8d8d8;
}

.survey_wrapper .wrapper_survey_qBox thead th:nth-child(1) {
  font-size: 4.26rem;
  font-family: "robotoBold", sans-serif;
  color: #e51937;
  text-align: center;
}

.survey_wrapper .wrapper_survey_qBox thead th:nth-child(2) {
  font-size: 4rem;
  font-family: "notoSansBold", sans-serif;
  text-align: left;
}

.survey_wrapper .wrapper_survey_qBox tbody .survey_checked span {
  background: #222;
}

.survey_wrapper .wrapper_survey_qBox tbody .survey_checked label {
  color: #222;
  font-family: "notoSansMedium", sans-serif;
}

.survey_wrapper .wrapper_survey_qBox tbody .survey_checked td:nth-child(3) {
  opacity: 1;
}

.survey_wrapper .wrapper_survey_qBox tbody .survey_answer span {
  background: #e51937;
}

.survey_wrapper .wrapper_survey_qBox tbody .survey_answer label {
  color: #e51937;
  font-family: "notoSansMedium", sans-serif;
}

.survey_wrapper .wrapper_survey_qBox tbody .correct td:nth-child(3) {
  opacity: 1;
}

.survey_wrapper .wrapper_survey_qBox tbody td {
  border-bottom: .13rem solid #e7e7e7;
  padding: 4rem 0;
}

.survey_wrapper .wrapper_survey_qBox tbody td:nth-child(1) {
  vertical-align: top;
  text-align: center;
}

.survey_wrapper .wrapper_survey_qBox tbody td:nth-child(2) input[type=text] {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-right: 4rem;
  font-size: 4rem;
  border: 0;
}

.survey_wrapper .wrapper_survey_qBox tbody td:nth-child(2) input[type=text]::-webkit-input-placeholder {
  color: #999;
}

.survey_wrapper .wrapper_survey_qBox tbody td:nth-child(2) input[type=text]:-ms-input-placeholder {
  color: #999;
}

.survey_wrapper .wrapper_survey_qBox tbody td:nth-child(2) input[type=text]::-ms-input-placeholder {
  color: #999;
}

.survey_wrapper .wrapper_survey_qBox tbody td:nth-child(2) input[type=text]::placeholder {
  color: #999;
}

.survey_wrapper .wrapper_survey_qBox tbody td:nth-child(3) {
  background: url(../images/survey/i_checked.png) no-repeat center center;
  background-size: 4rem;
  opacity: 0;
}

.survey_wrapper .wrapper_survey_qBox tbody td span {
  display: inline-block;
  text-align: center;
  padding-top: 12.33%;
  width: 5.33rem;
  height: 5.33rem;
  border-radius: 100%;
  font-size: 3.2rem;
  font-family: "robotoMedium", sans-serif;
  background: #999;
  color: #fff;
}

.survey_wrapper .wrapper_survey_qBox tbody td input {
  display: none;
}

.survey_wrapper .wrapper_survey_qBox tbody td label {
  font-family: "notoSansRegular", sans-serif;
  font-size: 4rem;
  float: left;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  padding-right: 2rem;
}

.survey_wrapper .wrapper_survey_qBox tbody .wrapper_survey_img {
  width: 100%;
  height: 57.33rem;
  padding: 4rem;
  background: #f5f5f5;
}

.survey_wrapper .wrapper_survey_qBox tbody .wrapper_survey_img .half_survey_img {
  width: 50%;
  text-align: center;
  float: left;
}

.survey_wrapper .wrapper_survey_qBox tbody .wrapper_survey_img .half_survey_img:last-child .box_survey_img {
  float: right;
}

.survey_wrapper .wrapper_survey_qBox tbody .wrapper_survey_img .half_survey_img .box_survey_img {
  width: 40rem;
  height: 40rem;
  margin-bottom: 3.6rem;
}

.survey_wrapper .wrapper_survey_qBox tbody .wrapper_survey_img .half_survey_img .info_survey_img {
  font-family: "robotoRegular", sans-serif;
  font-size: 3.46rem;
}

.survey_wrapper .wrapper_survey_qBox .icon_essay_plus {
  background: url(../images/survey/i_essay_plus.png) no-repeat center center;
  background-size: cover;
}

.survey_wrapper .wrapper_survey_qBox .wrapper_essay_answer {
  text-align: left !important;
}

.survey_wrapper .wrapper_survey_qBox .wrapper_essay_answer p:first-child {
  display: inline-block;
  color: #999;
  font-size: 3.46rem;
  border: .26rem solid #999;
  border-radius: 10rem;
  padding: 1.33rem 1.66rem;
  margin: 0 2.33rem 0 6.33rem;
}

.survey_wrapper .wrapper_survey_qBox .wrapper_essay_answer p:last-child {
  display: inline-block;
  font-size: 4rem;
}

.survey_wrapper .wrapper_survey_qBox .correct p:first-child {
  color: #e51937;
  border-color: #e51937;
}

.survey_wrapper .wrapper_survey_qBox .correct p:last-child {
  color: #e51937;
  font-family: "notoSansBold", sans-serif;
}

.survey_wrapper button {
  width: 100%;
  padding: 3.14rem 0;
  border: 0;
  border-radius: 1rem;
  background: #222;
  color: #fff;
  font-family: "notoSansMedium", sans-serif;
  font-size: 4.8rem;
}

.wrapper_notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 24rem;
  background: url(../images/common/i_notice.png) no-repeat center left 4rem;
  background-size: 8rem;
  border-bottom: .13rem solid #e8e8e8;
}

.wrapper_notice .wrapper_notice_info {
  padding-left: 16rem;
  padding-right: 5.33rem;
}

.wrapper_notice .wrapper_notice_info p {
  font-family: "notoSansMedium", sans-serif;
  font-size: 4.26rem;
  line-height: 1.2;
  padding-bottom: 1.86rem;
}

.wrapper_notice .wrapper_notice_info span {
  font-family: "robotoRegular", sans-serif;
  font-size: 3.46rem;
  color: #666;
}
/*# sourceMappingURL=style.css.map */