<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body(style="margin-bottom:5.34rem")
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_pdId(href="#") 제품별 교육자료
        .wrapper_products
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="waterPuri") 정수기
                input(type="checkbox" id="waterPuri" onclick="accordionMenu(this)")
                ul
                    li(onclick="location.href='eduDataList.html'") WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="bidet") 비데
                input(type="checkbox" id="bidet" onclick="accordionMenu(this)")
                ul
                    li WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="lifeApp") 생활가전
                input(type="checkbox" id="lifeApp" onclick="accordionMenu(this)")
                ul
                    li WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="kitchenApp") 주방가전
                input(type="checkbox" id="kitchenApp" onclick="accordionMenu(this)")
                ul
                    li WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
                    li WPU-B100C/F
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;
        


        //아코디언 메뉴
        function accordionMenu(box){
            let ul = box.nextSibling.nextSibling;
            let arw = ul.parentNode.childNodes[1];
            if(box.checked){
                ul.style.display = 'block'
                arw.style.transform = 'rotate(-90deg)'
            }
            else{
                ul.style.display = 'none'
                arw.style.transform = 'rotate(90deg)'
            }
        }