<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_pdId(href="#") WPU-B100C/F
        .wrapper_progress
            .inner
                .wrapper_progress_percent.area_half
                    .single-chart.circle_percent
                        svg.circular-chart.skred(viewbox='-0.1 0 36.33 36')
                            g
                                path.circle_bg(d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                                path.circle.progress(d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                            circle.point(fill='#000' cx='18' cy='2.1' r='2.16')
                            circle.point(fill='#000' cx='33.9' cy='18' r='2.16')
                            circle.point(fill='#000' cx='18' cy='33.9' r='2.16')
                            circle.point(fill='#000' cx='2.19' cy='18' r='2.16')
                    .percentageText
                        .pgtext
                            p
                            br
                            span 진도율
                .wrapper_progress_allOp.area_half
                    .single-chart.circle_all_opinion
                        svg.circular-chart.skred(viewbox='-0.1 0 36.33 36')
                            path.circle_bg(d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                            path.circle(stroke-dasharray='100, 100' d='M18 2.0845\ a 15.9155 15.9155 0 0 1 0 31.831\ a 15.9155 15.9155 0 0 1 0 -31.831')
                    .percentageText
                        .allOpinion
                            p 43
                            br
                            span 전체의견
        .area_partition
        .wrapper_curri
            .inner
                h2.title_h2
                    span 커리큘럼
                    | 을 선택해 주세요.
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 01
                    p 교육영상
                    .icon_header_fav
                        input(type="checkbox" id="fav1" onclick="fav(this)" checked)
                        label(for="fav1")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 02
                    p 올인원 정수기 교육자료
                    .icon_header_fav
                        input(type="checkbox" id="fav2" onclick="fav(this)" checked)
                        label(for="fav2")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 03
                    p 타사비교
                    .icon_header_fav(href="javascript:void(0)")
                        input(type="checkbox" id="fav3" onclick="fav(this)")
                        label(for="fav3")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 04
                    p 제품 세일즈 스크립트
                    .icon_header_fav
                        input(type="checkbox" id="fav4" onclick="fav(this)")
                        label(for="fav4")
                .wrapper_category_box(onclick="javascript:void(0)")
                    span 05
                    p 안심 OK
                    .icon_header_fav
                        input(type="checkbox" id="fav5" onclick="fav(this)")
                        label(for="fav5")
    script.
        //즐겨찾기 체크박스 활성시 이벤트
        function fav(btnFav){
            if(btnFav.checked){
                //활성 이벤트
            }
            else{
                //비활성 이벤트
            }
        }

        //진도율 및 전체의견
        let percent = 50; //진도율
        let opinion = 43; //전체의견 갯수
        let progress = document.querySelector('.progress'),
        pgtext = document.querySelector('.pgtext'),
        allOp = document.querySelector('.allOpinion');
        pgtext.children[0].innerHTML = percent + '%' //진도율 텍스트
        progress.style.strokeDasharray = percent + ', 100' //진도율 게이지
        allOp.children[0].innerHTML = opinion //진도율 텍스트
