<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                        
                    a.icon_header_logo(href="./index.html")
                        
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapper_contents.margin_tab_top
            .inner
                h2.title_h2
                    span 교육자료
                    | 를 선택해 주세요.
        .area_partition  
        .wrapper_eduConts.wrapper_category_default
            .inner
                .wrapper_category_box(onclick="location.href='eduDataListPrd.html'")
                    p 제품별 교육자료
                .wrapper_category_box(onclick="location.href='eduDataListDefault.html'")
                    p 신규 MC 교육
                .wrapper_category_box(onclick="location.href='eduDataListDefault.html'")
                    p 설치마스터 입문교육
    script.
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;