<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                        
                    a.icon_header_logo(href="./index.html")
                        
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapperEvents.margin_tab_top.menu_tab_wrap
            .inner
                input(type="radio" id="eventPre" name="eventTab" checked)
                label(for="eventPre") 진행 이벤트
                input(type="radio" id="eventFnsh" name="eventTab")
                label(for="eventFnsh") 지난 이벤트
                .wrapper_event_pre.wrapper_thumnail_list
                    .wrapper_list_box(onclick="location.href='./eventView.html'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다. 두줄까지 떨어질 경우.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p SK 매직 제휴 신용카드 혜택
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다. 
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 웰빙&케어 전문가 MC를 모집합니다.
                            span 2020.04.05 ~ 2020.05.05
                    button.btn_load_more 더 보기
                .wrapper_event_fnsh.wrapper_thumnail_list
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 지난이벤트 입니다.
                            span 2020.04.05 ~ 2020.05.05
                    .wrapper_list_box(onclick="location.href='#'")
                        .img_list_box
                            img(src="../images/event/event_thumb.png" alt="eventImg")
                        .text_list_box.post
                            p 지난이벤트 입니다.
                            span 2020.04.05 ~ 2020.05.05
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;