<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                        
                    a.icon_header_logo(href="./index.html")
                        
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapper_contents.margin_tab_top
            .inner
                h2.title_h2
                    span 즐겨찾기
                    | 하신 메뉴입니다.
        .area_partition
        .wrapper_products
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="waterPuri") 모바일 카달로그
                input(type="checkbox" id="waterPuri" onclick="accordionMenu(this)")
                ul
                    li(onclick="location.href='okServiceView.html'") WPU-B100C/F
                    li WPU-B100C/F 특장점
                    li WPU-B100C/F 타사비교
                    li WPU-A700 특장점
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="bidet") 안심OK서비스
                input(type="checkbox" id="bidet" onclick="accordionMenu(this)")
                ul
                    li WPU-B100C/F 안심OK서비스 영상
                    li WPU-B100C/F 안심OK서비스 영상
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="lifeApp") 교육자료
                input(type="checkbox" id="lifeApp" onclick="accordionMenu(this)")
                ul
                    li WPU-B100C/F
                    li WPU-B100C/F
            .contents_products_accordionBox
                .icon_accordionBox_arrow
                label(for="kitchenApp") 이벤트
                input(type="checkbox" id="kitchenApp" onclick="accordionMenu(this)")
                ul
                    li 4월 특가 이벤트 프로모션
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;
        


        //아코디언 메뉴
        function accordionMenu(box){
            let ul = box.nextSibling.nextSibling;
            let arw = ul.parentNode.childNodes[1];
            if(box.checked){
                ul.style.display = 'block'
                arw.style.transform = 'rotate(-90deg)'
            }
            else{
                ul.style.display = 'none'
                arw.style.transform = 'rotate(90deg)'
            }
        }