<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        include ./popUp.pug
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                    a.icon_header_logo(href="./index.html")
                    a.icon_header_bell(href="./alarmCenter.html")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        .visual_mgsc
            .inner.form_visual_search
                .cont_inner
                    input(type="text" placeholder="검색어를 입력해주세요." onfocus="this.placeholder=''" onblur="this.placeholder='검색어를 입력해주세요.'" onclick="location.href='./search.html'")
        .wrapper_menu_main
            .inner
                .cont_inner
                    .iconWrapper
                        a.icon_menu_box(style="background: url(../images/main/i_mc.png);" href="./mCatalog.html")
                        a.icon_menu_box(style="background: url(../images/main/i_ok.png);" href="./okServiceList.html")
                        a.icon_menu_box(style="background: url(../images/main/i_ed.png);" href="./eduData.html")
                        a.icon_menu_box(style="background: url(../images/main/i_ca.png);" href="javascript:void(0)")
                        a.icon_menu_box(style="background: url(../images/main/i_ev.png);" href="./eventList.html")
                        a.icon_menu_box(style="background: url(../images/main/i_lo.png);" href="./locaOpinion.html")
                        a.icon_menu_box(style="background: url(../images/main/i_li.png);" href="./magicLive.html")
                        a.icon_menu_box(style="background: url(../images/main/i_re.png);" href="./surveyList.html")
                        a.icon_menu_box(style="background: url(../images/main/i_fa.png);" href="./favorite.html")
        .banner_event
            .inner
                .cont_inner
                    .eventWrapper
                        a.banner_event_box(style="background: url(../images/main/banner_01.png);" href="javascript:void(0)")
                        a.banner_event_box(style="background: url(../images/main/banner_02.png);" href="javascript:void(0)")
                        a.banner_event_box(style="background: url(../images/main/banner_03.png);" href="javascript:void(0)")
        .footer_common.footer_bottom_main(onclick="location.href='./notice.html'")
            .inner
                .cont_inner
                    .link_notice_footer
                        span [공지] 패키지 계약에 따른 고객 정보변경 개선사항에 따른 지침사항.
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;
        //푸터 공지사항 글자수 제한
        let notice = document.querySelector('.link_notice_footer').firstChild,
        maxlength = 29;
        if(notice.innerHTML.length >= maxlength){
            notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
        }