<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                    a.icon_header_logo(href="./index.html")
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapper_contents.margin_tab_top
            .inner
                .wrapper_best_item
                    h2.title_h2
                        | 여러분의 
                        span 소리를 들려주세요.
        .area_partition  
        .wrapper_loca_opinion.wrapper_category_default
            .inner
                .wrapper_category_box(onclick="location.href='locaOpinionDetail.html'")
                    p 현장의 소리를 들려주세요.
                .wrapper_category_box(onclick="#")
                    p 고객의 소리를 들려주세요.
                .wrapper_category_box(onclick="#")
                    p 현장의 소리에 답하다.
    script.
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;