<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    a.icon_header_pdId(href="#") 현장의 소리
        .contents_container
            .inner
                .wrapper_detail_img
                    img(src="../images/locaOpinion/opinion_img.png")
                .wrapper_detail_info
                    table
                        colgroup
                            col(width = '4.35%')
                            col(width = '19.4%')
                            col(width = '*')
                        thead
                        tbody
                            tr
                                td
                                td
                                    p 기 간
                                td 365일 24시간
                            tr
                                td
                                td
                                    p 대 상
                                td 현재 활동 MC 누구나
                            tr
                                td
                                td
                                    p 제 안 방 법
                                td 제품, 안심OK 서비스 관련하여 현장에서 개선이 되어야 할 부분이나 추가로 제안하고 싶은 내용을 작성해 주세요.
                            tr
                                td
                                td
                                    p 주 의 사 항
                                td 취지와 맞지 않는 제안의견은 삭제될 수 있습니다.
                .detail_info_notice 현장의 소리에 올려주시면 채택 결과에 따라 경품증정
        .footer_common.footer_bottom_okSvcView
            .inner
                .wrapper_footer_userOpn(onclick="javascript:void(0)")
                    p 의견 
                        span 26개 보기
                .wrapper_footer_writeOpn(onclick="location.href='./writePage.html'")
                    p 의견 쓰기
                    img(src="../images/okService/f_arrow.png")
