<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                        
                    a.icon_header_logo(href="./index.html")
                        
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .margin_tab_top
            .inner
                h2.title_h2 4월 SK매직 월간 소식
        .wrapper_mth_video(onclick="" style="background:url(../images/common/btn_play.png) no-repeat center center,#222")
        .wrapper_video_info
            .inner
                span 트리플케어 식기세척기 출시
                p 트리플케어 식기세척기 출시되었습니다.
                    | 두줄까지 노출하고 이후에는 더보기로 펼쳐 봅니다.
                    br
                    | 두줄까지 노출하고 이후에는 더보기로 펼쳐 봅니다. 
                button(type="button") 더보기
        .wrapper_video_slide
            .inner
                .wrapper_slide_thumb
                    .thumb_slider_video
                    .title_slider_video 대표이사 소개 영상 제목이 두 줄로 떨어질 경우
                .wrapper_slide_thumb
                    .thumb_slider_video
                    .title_slider_video 대표이사 소개 영상 제목이 두 줄로 떨어질 경우
                .wrapper_slide_thumb
                    .thumb_slider_video
                    .title_slider_video 대표이사 소개 영상 제목이 두 줄로 떨어질 경우
                .wrapper_slide_thumb
                    .thumb_slider_video
                    .title_slider_video 대표이사 소개 영상 제목이 두 줄로 떨어질 경우
        .wrapper_progressBar
            .progress
        .wrapper_contents
            .inner
                .wrapper_related_data.rdMgLive
                    h2 연관자료
                    ul
                        li WPU-B100C/F
                        li WPU-B100C/F
                        li WPU-B100C/F
        .area_partition
        .wrapper_comentArea.wrapper_reply_area
            .inner
                .wrapper_reply_count
                    p 댓글 
                        span 5
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김매직
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 잘 만드셨네요. 이 제품 가격이 얼마인가요? 답변 부탁드립니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box.coments
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user2.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박매직
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 5만원 입니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user3.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 홍길동
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 좋은 방법이네요. 저도 활용해 보겠습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user4.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김수진
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 우왕~ 이뻐요.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user5.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박새로이
                        .btn_reply_option
                            
                    .wrapper_reply_text
                        p 안녕하세요. 반갑습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_seeMore(onclick="javascript:void(0)")
                    p 다음 댓글 더보기 ...
                .replyWrite.wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        input(type="text" placeholder="댓글을 남겨보세요.")
script.
    //추천영상 슬라이드 너비 시작
    var slideWrap = document.getElementsByClassName('wrapper_video_slide')[0],
    slideInner = slideWrap.firstChild.nextSibling,
    slideThumb = slideInner.getElementsByClassName('thumb_slider_video').length;
    slideInner.style.width = "calc(46.66rem * " + slideThumb + " + 4rem)"
    //추천영상 슬라이드 너비 끝

    //프로그레스 바 스크롤 이벤트 시작
    var pgBar = document.getElementsByClassName('progress'),
    clwidth = slideInner.clientWidth - document.body.offsetWidth;
    slideWrap.addEventListener('scroll', function(e){
        pgBar[0].style.width = Math.floor(slideWrap.scrollLeft) / clwidth * 100 + "%"
    });
    //프로그레스 바 스크롤 이벤트 끝