<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer.margin_footer_bottom
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_pdId(href="#") WPU-B100C/F        
                    .icon_header_fav
                        input(type="checkbox" id="fav5" onclick="" checked)
                        label(for="fav5")
        .wrapper_visual_catalog
            .wrapper_visual_slide
                .wrapper_slide_area
                    .wrapper_slide_video(style="background: url(../images/mCatalog/v_pd4.png)")
                    .wrapper_slide_video(style="background: url(../images/magicStory/pd1.png)")
                    .wrapper_slide_video(style="background: url(../images/magicStory/pd2.png)")
                    .wrapper_slide_video(style="background: url(../images/magicStory/pd3.png)")
                    .wrapper_slide_video(style="background: url(../images/magicStory/pd4.png)")
            .wrapper_visual_icon
                .btn_slide_prev(onclick="sPrev()")
                    img(src='../images/okService/btn_video.png')
                .btn_slide_next(onclick="sNext()")
                    img(src='../images/okService/btn_video.png')
                .btn_slide_pagenation
                    p
        .area_partition
        .wrapper_info_tab.menu_tab_wrap
            .inner
                input(type="radio" id="tCatalog" name="infoTab" checked)
                label(for="tCatalog") 카달로그
                input(type="radio" id="tSpec" name="infoTab")
                label(for="tSpec") 스펙
                input(type="radio" id="tPrice" name="infoTab")
                label(for="tPrice") 금액
                .wrapper_prd_catalog.printArea
                    p 카달로그 내용 출력 영역
                .wrapper_prd_spec.printArea
                    p 스펙 내용 출력 영역
                .wrapper_prd_price.printArea
                    p 금액 내용 출력 영역
        .footer_common.footer_bottom_mCatalog
            .inner
                .wrapper_mCatalog_fUserImg
                    .img_mCatalog_fUserImg(style="background:url(../images/magicStory/user.png)")
                .wrapper_mCatalog_fUserInfo
                    p 김매직
                    span 010 1234 5678
                .wrapper_mCatalog_sendCatalog(onclick="javascript:void(0)")
                    p 카달로그 전송
    script.
        //슬라이드 배너 영역 시작
        //슬라이드 영역 width 지정
        const sArea = document.querySelector('.wrapper_slide_area'),
        vArea = document.querySelectorAll('.wrapper_slide_video');
        sArea.style.width = vArea.length * 100 + '%'

        //슬라이드 버튼 기능
        //페이지네이션
        const pgn = document.querySelector('.btn_slide_pagenation');
        pagenation = 1;
        function pgnation(e){
            if(pagenation == vArea.length + 1){
                pagenation = 1;
                sArea.style.left = 0;
            }
            else if(pagenation == 0){
                pagenation = vArea.length;
                sArea.style.left = 'calc(' + (vArea.length-1) * - 100 + 'vw)'
            }
            pgn.children[0].innerHTML = pagenation + ' / ' + vArea.length;
        }
        pgn.children[0].innerHTML = pagenation + ' / ' + vArea.length;
        //좌우 슬라이드 버튼
        click = true; //클릭 이벤트 중복 방지
        function sPrev(){
            if(click){
                sAreaLeft = window.getComputedStyle(sArea,null).getPropertyValue('left');
                sArea.style.left = 'calc(' + sAreaLeft + ' + 100vw)'
                click = !click;
                pagenation--;
                pgnation();
                // 클릭 이벤트 복귀 타이밍 추가
                setTimeout(function () {
                    click = true;
                }, 400)
            }
        }
        function sNext(){
            if(click){
                sAreaLeft = window.getComputedStyle(sArea,null).getPropertyValue('left');
                sArea.style.left = 'calc(' + sAreaLeft + ' - 100vw)'
                click = !click;
                pagenation++;
                pgnation();
                // 타이밍 추가
                setTimeout(function () {
                    click = true;
                }, 400)
            }
        }
        //슬라이드 배너 영역 끝
        //드래그 슬라이드 이벤트 시작
        var dragArea = document.getElementsByClassName('wrapper_visual_catalog')[0];
        dragArea.addEventListener('touchstart', handleTouchStart, false);        
        dragArea.addEventListener('touchmove', handleTouchMove, false);

        var xDown = null;                                                        
        var yDown = null;

        function getTouches(evt) {
        return evt.touches ||             // browser API
                evt.originalEvent.touches; // jQuery
        }                                                     

        function handleTouchStart(evt) {
            const firstTouch = getTouches(evt)[0];                                      
            xDown = firstTouch.clientX;                                      
            yDown = firstTouch.clientY;                                      
        };                                                

        function handleTouchMove(evt) {
            if ( ! xDown || ! yDown ) {
                return;
            }

            var xUp = evt.touches[0].clientX;                                    
            var yUp = evt.touches[0].clientY;

            var xDiff = xDown - xUp;
            var yDiff = yDown - yUp;

            if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
                if ( xDiff > 0 ) {
                    sNext()
                } else {
                    sPrev()
                }                       
            } else {
                if ( yDiff > 0 ) {
                    /* up swipe */ 
                } else { 
                    /* down swipe */
                }                                                                 
            }
            /* reset values */
            xDown = null;
            yDown = null;                                             
        };
        //드래그 슬라이드 이벤트 끝