<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer.margin_footer_bottom
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                    a.icon_header_logo(href="./index.html")
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .wrapper_contents.margin_tab_top
            .inner
                .wrapper_best_item
                    h2.title_h2
                        | 지금 
                        span 인기
                        | 있는 상품은?
                    .wrapper_product_box(onclick="javascript:void(0)")
                        .img_product_box(style="background:url(../images/mCatalog/b_pd1.png)")
                        .text_product_box
                            span EONCS2AMD0BL
                            p.text_product_title All in one 멀티 복합오븐
                    .wrapper_product_box(onclick="javascript:void(0)")
                        .img_product_box(style="background:url(../images/mCatalog/b_pd2.png)")
                        .text_product_box
                            span EONC514FSMMS
                            p.text_product_title All in one 스팀광파 오븐 전자레인지
                    .wrapper_product_box(onclick="javascript:void(0)")
                        .img_product_box(style="background:url(../images/mCatalog/b_pd3.png)")
                        .text_product_box
                            span ACL120UASKCG
                            p.text_product_title U필터 공기청정기 12평형
                    .wrapper_product_box(onclick="location.href='./mCatalogView.html'")
                        .img_product_box(style="background:url(../images/mCatalog/b_pd4.png)")
                        .text_product_box
                            span ACL150UASKCG
                            p.text_product_title U필터 공기청정기 15평형
        .area_partition
        .wrapper_contents
            .inner
                .wrapper_category
                    h2.title_h2
                        span 카테고리
                        | 를 선택해 주세요.
                    .wrapper_category_box(onclick="javascript:void(0)")
                        p 정수기
                        
                    .wrapper_category_box(onclick="javascript:void(0)")
                        p 공기청정기
                        
                    .wrapper_category_box(onclick="javascript:void(0)")
                        p 식기세척기
                        
                    .wrapper_category_box(onclick="javascript:void(0)")
                        p 전자레인지
                        
                    .wrapper_category_box(onclick="javascript:void(0)")
                        p 의류건조기
                        
                    .wrapper_category_box(onclick="javascript:void(0)")
                        p 안마의자      
        .area_partition
        .footer_common.footer_bottom_mCatalog
            .inner
                .wrapper_mCatalog_fUserImg
                    .img_mCatalog_fUserImg(style="background:url(../images/magicStory/user.png)")
                .wrapper_mCatalog_fUserInfo
                    p 김매직
                    span 010 1234 5678
                .wrapper_mCatalog_sendCatalog(onclick="javascript:void(0)")
                    p 카달로그 전송
    script(type='text/javascript').
        //헤더 벨 알림 갯수
        alertCount = '0' //알람 수
        let count = document.querySelector('.alert_header_count');
        count.firstChild.innerHTML = alertCount;
        
        //베스트상품 타이틀 글자수 제한
        maxlength = 19;
        [].forEach.call(document.querySelectorAll('.text_product_title'), function(el) {
            if(el.innerHTML.length >= maxlength){
                el.innerHTML = el.innerHTML.substring(0, maxlength) + '...'
            }
        });
