<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .header_common.header_top_mgsList
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    a.icon_header_id(href="javascript:void(0)")
                        p 김매직
                    a.icon_header_level(href="javascript:void(0)")
                        .alert_header_count
                            span LV 8
        .wrapper_user
            .inner
                .box_info
                    .box_info_detail
                        img.icon_user_plus(src="../images/magicStory/uplus.png")
                        .wrapper_image
                    .box_info_detail
                        .wrapper_text
                            span 20
                            p 게시물
                    .box_info_detail(onclick="location.href='./mgStoryFl.html'")
                        .wrapper_text
                            span 87
                            p 팔로워
                    .box_info_detail
                        .wrapper_text
                            span 42
                            p 팔로잉
                button(type='button' onclick="location.href='./mgStoryProfile.html'").btn_userinfo_edit 프로필 수정
                .box_follow
                    .box_follow_count
                        .wrapper_text
                            p 총 방문 :
                            span  9,999
                    .box_follow_count
                        .wrapper_text
                            p 오늘 방문 :
                            span  17
                    .box_follow_count
                        .wrapper_text
                            p 좋아요 :
                            span  200
        .table_user_post
            table(border="0")
                caption post
                thead
                tbody
                    tr
                        td.thumbnail(style="background:url(../images/magicStory/pd1.png)" onclick="location.href='./mgStoryView.html'")
                        td.thumbnail(style="background:url(../images/magicStory/pd2.png)")
                        td.thumbnail(style="background:url(../images/magicStory/pd3.png)" onclick="location.href='./mgStoryViewCatalog.html'")
                            i.special
                    tr
                        td.thumbnail(style="background:url(../images/magicStory/pd4.png)")
                            i.special
                        td.thumbnail(style="background:url(../images/magicStory/pd5.png)")
                        td.thumbnail(style="background:url(../images/magicStory/pd6.png)")
                    tr
                        td.thumbnail(style="background:url(../images/magicStory/pd7.png)")
                        td.thumbnail(style="background:url(../images/magicStory/pd8.png)")
                        td.thumbnail(style="background:url(../images/magicStory/pd9.png)")
        .footer_common.footer_bottom_mgStory
            .inner
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f1.png")
                    p 마이 스토리
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f2.png")
                    p 게시물 등록
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f3.png")
                    p 추천 사용자
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f4.png")
                    p 팔로우 스토리
    script.