<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .wrapper_option_modal
            .modal_bg(onclick="closeOption()")
            ul.inner
        .wrapper_modal_img
            .header_modal
                .inner
                    .btn_modal_close(onclick="closeImgModal(this)")
                    .btn_slide_pagenation.wrapper_modal_pagination
                        p
                    .btn_modal_save 저장
            .wrapper_visual_catalog
                .wrapper_visual_slide.slide_img
                    .wrapper_slide_area
        .header_common.header_top_mgsView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                    a.icon_header_option(href="javascript:void(0)" onclick="openOption(this);")
        .wrapper_story_info
            .inner
                .wrapper_info_detail
                    .icon_info_userPic
                    .box_info_idtime
                        p 김매직
                        span 2020.04.06 오전 08:46
        .cont_story_view
            .wrapper_cont_text
                .inner
                    p 예상 납부 금액은 실제 납부 금액과 다를 수 있습니다. 카드 할인 금액은 제휴 카드 발급 및 렌탈료 자동 이체 시 전월 실적에 따라 실제 납부 금액이 결제됩니다.
            .wrapper_cont_img
                img(src="../images/magicStory/view0.png")
            .wrapper_cont_img
                img(src="../images/magicStory/view1.png")
            .wrapper_cont_img
                img(src="../images/magicStory/view2.png")
            .wrapper_cont_img
                img(src="../images/magicStory/view3.png")
            .wrapper_cont_img
                img(src="../images/magicStory/view4.png")
        .wrapper_story_reply
            .inner
                .wrapper_btn_like
                    input(type="checkbox" id="btnLike")
                    label(for="btnLike")
                .wrapper_count_like
                    p 좋아요
                    span 4
                .wrapper_count_like
                    p 댓글
                    span 5
                button(type="button") 게시물 수정
        .wrapper_comentArea.wrapper_reply_area
            .inner
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김매직
                        .btn_reply_option
                    .wrapper_reply_text
                        p 잘 만드셨네요. 이 제품 가격이 얼마인가요? 답변 부탁드립니다.
                    .wrapper_reply_img
                        img(src="../images/magicStory/pd7.png")
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box.coments
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user2.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박매직
                        .btn_reply_option
                    .wrapper_reply_text
                        p 5만원 입니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user3.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 홍길동
                        .btn_reply_option
                    .wrapper_reply_text
                        p 좋은 방법이네요. 저도 활용해 보겠습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user4.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 김수진
                        .btn_reply_option
                    .wrapper_reply_text
                        p 우왕~ 이뻐요.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user5.png)")
                    .wrapper_reply_idOption
                        .id_reply_userid
                            p 박새로이
                        .btn_reply_option
                    .wrapper_reply_text
                        p 안녕하세요. 반갑습니다.
                    .wrapper_reply_info
                        span 2020.04.06 오전 08:46
                        span 답글쓰기
                .wrapper_reply_seeMore(onclick="javascript:void(0)")
                    p 다음 댓글 더보기 ...
                .replyWrite.wrapper_reply_box
                    .wrapper_reply_userImg
                        .img_reply_userImg(style="background:url(../images/magicStory/user.png)")
                    .wrapper_reply_idOption
                        input(type="text" placeholder="댓글을 남겨보세요.")
        .footer_common.footer_bottom_mgStory
            .inner
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f1.png")
                    p 마이 스토리
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f2.png")
                    p 게시물 등록
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f3.png")
                    p 추천 사용자
                a.wrapper_footer_icon(href="javascript:void(0)")
                    img.icon_footer_link(src="../images/magicStory/f4.png")
                    p 팔로우 스토리
    script.
        //게시글 옵션 모달 시작
        var modal = document.getElementsByClassName('wrapper_option_modal')[0];
        var modalUl = modal.childNodes[3];
        function openOption(btn){//모달 열기
            document.body.style.overflow = "hidden"
            modal.style.display = 'block'
            //댓글 옵션 눌렀을 때
            if(btn.className == 'btn_reply_option'){
                var dec = document.createElement('li');
                var del = document.createElement('li');
                var can = document.createElement('li');
                dec.innerHTML = "<button type='button' class='btn_option_warn'>신고</button>"
                del.innerHTML = "<button type='button' class='btn_option_warn'>삭제</button>"
                can.innerHTML = "<button type='button' onclick='closeOption()'>취소</button>"
                modalUl.appendChild(dec);
                modalUl.appendChild(del);
                modalUl.appendChild(can);
            }
            //헤더 옵션 눌렀을 때
            else if(btn.className == 'icon_header_option'){
                var sha = document.createElement('li');
                var dec = document.createElement('li');
                var del = document.createElement('li');
                var can = document.createElement('li');
                sha.innerHTML = "<button type='button'>공유</button>"
                dec.innerHTML = "<button type='button' class='btn_option_warn'>신고</button>"
                del.innerHTML = "<button type='button' class='btn_option_warn'>삭제</button>"
                can.innerHTML = "<button type='button' onclick='closeOption()'>취소</button>"
                modalUl.appendChild(sha);
                modalUl.appendChild(dec);
                modalUl.appendChild(del);
                modalUl.appendChild(can);
            }
        }
        function closeOption(){//모달 닫기
            document.body.style.overflow = "auto"
            modal.style.display = 'none'
            modalUl.innerHTML = ''
        }
        //게시글 옵션 모달 끝
        
        Array.from(document.getElementsByClassName('btn_reply_option')).forEach(function(r) {
            r.addEventListener('click', function () {
                openOption(this);
            })
        });

        //슬라이드 배너 영역 시작
        //슬라이드 영역 width 지정
        var sArea = document.querySelector('.wrapper_slide_area'),
        vArea = document.querySelectorAll('.wrapper_slide_video');
        imgNum = document.getElementsByClassName('wrapper_cont_img').length;
        //슬라이드 버튼 기능
        //페이지네이션
        const pgn = document.querySelector('.btn_slide_pagenation');
        pagenation = 1;
        function pgnation(e){
            if(pagenation == imgNum + 1){
                pagenation = 1;
                sArea.style.left = 0;
            }
            else if(pagenation == 0){
                pagenation = imgNum;
                sArea.style.left = 'calc(' + (imgNum - 1) * - 100 + 'vw)'
            }
            pgn.children[0].innerHTML = pagenation + ' / ' + imgNum;
        }
        pgn.children[0].innerHTML = pagenation + ' / ' + imgNum
        //좌우 슬라이드 버튼
        click = true; //클릭 이벤트 중복 방지
        function sPrev(){
            if(click){
                sAreaLeft = window.getComputedStyle(sArea,null).getPropertyValue('left');
                sArea.style.left = 'calc(' + sAreaLeft + ' + 100vw)'
                click = !click;
                pagenation--;
                pgnation();
                // 클릭 이벤트 복귀 타이밍 추가
                setTimeout(function () {
                    click = true;
                }, 400)
            }
        }
        function sNext(){
            if(click){
                sAreaLeft = window.getComputedStyle(sArea,null).getPropertyValue('left');
                sArea.style.left = 'calc(' + sAreaLeft + ' - 100vw)'
                click = !click;
                pagenation++;
                pgnation();
                // 타이밍 추가
                setTimeout(function () {
                    click = true;
                }, 400)
            }
        }
        //슬라이드 배너 영역 끝
        //드래그 슬라이드 이벤트 시작
        var dragArea = document.getElementsByClassName('wrapper_visual_catalog')[0];
        dragArea.addEventListener('touchstart', handleTouchStart, false);        
        dragArea.addEventListener('touchmove', handleTouchMove, false);

        var xDown = null;                                                        
        var yDown = null;

        function getTouches(evt) {
        return evt.touches ||             // browser API
                evt.originalEvent.touches; // jQuery
        }                                                     

        function handleTouchStart(evt) {
            const firstTouch = getTouches(evt)[0];                                      
            xDown = firstTouch.clientX;                                      
            yDown = firstTouch.clientY;                                      
        };                                                

        function handleTouchMove(evt) {
            if ( ! xDown || ! yDown ) {
                return;
            }

            var xUp = evt.touches[0].clientX;                                    
            var yUp = evt.touches[0].clientY;

            var xDiff = xDown - xUp;
            var yDiff = yDown - yUp;

            if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
                if ( xDiff > 0 ) {
                    sNext()
                } else {
                    sPrev()
                }                       
            } else {
                if ( yDiff > 0 ) {
                    /* up swipe */ 
                } else { 
                    /* down swipe */
                }                                                                 
            }
            /* reset values */
            xDown = null;
            yDown = null;                                             
        };
        //드래그 슬라이드 이벤트 끝

        //이미지 뷰어 시작
        Array.from(document.getElementsByClassName('wrapper_cont_img')).forEach(function(img) {
            img.addEventListener('click', function () {
                openImgModal();
            })
        });

        function openImgModal(){
            document.body.style.overflow="hidden";
            var images = document.getElementsByClassName('wrapper_cont_img'),
            imgWrap = document.getElementsByClassName('wrapper_modal_img')[0];
            slideArea = document.getElementsByClassName('wrapper_slide_area')[0];
            imgWrap.style.display = 'block';
            //join img from board to slide
            for(i=0;i<images.length;i++){
                var cl = document.createElement('div');
                cl.classList.add('wrapper_slide_video');
                cl.id = i;
                cl.innerHTML = "<img src='../images/magicStory/view" + i + ".png'>";
                slideArea.appendChild(cl);
            }
            slideArea.style.width = slideArea.length * 100 + '%'
        }
        function closeImgModal(btn){
            document.body.style.overflow='auto'
            btn.parentNode.parentNode.parentNode.style.display='none'
            slideArea.innerHTML = '';
        }
        //이미지 뷰어 끝