<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_main
            .inner
                .iconWrapper
                    a.icon_header_user(href="./mgStoryList.html")
                    a.icon_header_logo(href="./index.html")
                    a.icon_header_bell(href="javascript:void(0)")
                        .alert_header_bell
                        .alert_header_count
                            span 0
        include ./slideTab.pug
        .margin_tab_top
        .wrapper_notice
            .wrapper_notice_info
                p 관리자님의 새로운 공지사항이 있습니다.
                span 2020.04.06
        .wrapper_notice
            .wrapper_notice_info
                p 관리자님의 새로운 공지사항이 있습니다. 두줄까지 떨어질 때.
                span 2020.04.06
        .wrapper_notice
            .wrapper_notice_info
                p 관리자님의 새로운 공지사항이 있습니다. 글자수 제한 테스트. 글자수 제한 테스트. 글자수 제한 테스트. 글자수 제한 테스트.
                span 2020.04.06
script.
    //공지사항 글자수 제한 시작
    var alarmBox = document.querySelectorAll('.wrapper_notice_info');
    alarmBox.forEach(function(e) {
        maxlength = 49;
        notice = e.childNodes[1];
        if(notice.innerHTML.length >= maxlength){
            notice.innerHTML = notice.innerHTML.substring(0, maxlength) + '...'
            }
        }
    );
    //공지사항 글자수 제한 끝