<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body.padding_footer
        .header_common.header_top_okSvcView
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    a.icon_header_pdId(href="#") WPU-B100C/F        
                    .icon_header_fav
                        input(type="checkbox" id="fav1" onclick="fav(this)" checked)
                        label(for="fav1")
        .contents_container
            .inner
                .wrapper_visual(draggable="true")
                    .wrapper_visual_slide
                        .wrapper_slide_area
                            .wrapper_slide_video(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/okService/videoThumb.png) no-repeat center top")
                            .wrapper_slide_video(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/magicStory/pd1.png) no-repeat center top")
                            .wrapper_slide_video(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/magicStory/pd2.png) no-repeat center top")
                            .wrapper_slide_video(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/magicStory/pd3.png) no-repeat center top")
                            .wrapper_slide_video(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/magicStory/pd4.png) no-repeat center top")
                    .wrapper_visual_icon(onclick="playVideo()")
                        .btn_slide_play
                            img(src='../images/common/btn_play.png')
                .wrapper_prd_info
                    p
                        | 텍스트 입력 시 출력되는 영역입니다.
                        br
                        | (자간, 행간, 텍스트 사이즈 확인용)
                        br
                        | 배경은 화이트 (margin 참고용 배경 컬러입니다.)
                        br
                        | 설정값 : text-align: justify, line-height: 1.2, letter-spacing: -0.2rem 입니다.
                .wrapper_related_data
                    h2 연관자료
                    ul
                        li WPU-B100C/F
                        li WPU-B100C/F
                        li WPU-B100C/F
                .wrapper_slide_controller
                    .wrapper_visual_icon
                        .btn_slide_ctrl.btn_slide_prev(onclick="sPrev()")
                            img(src="../images/okService/btn_v_arrow.png")
                        .btn_slide_pagenation
                            p
                        .btn_slide_ctrl.btn_slide_next(onclick="sNext()")
                            img(src="../images/okService/btn_v_arrow.png")
        .footer_common.footer_bottom_okSvcView
            .inner
                .wrapper_footer_userOpn(href="javascript:void(0)")
                    p 의견 
                        span 26개 보기
                .wrapper_footer_writeOpn(href="javascript:void(0)")
                    p 의견 쓰기
                    img(src="../images/okService/f_arrow.png")
    script.
        //슬라이드 배너 영역 시작
        //슬라이드 영역 width 지정
        const sArea = document.querySelector('.wrapper_slide_area'),
        vArea = document.querySelectorAll('.wrapper_slide_video');
        sArea.style.width = vArea.length * 100 + '%'
        
        //슬라이드 버튼 기능
        //페이지네이션
        const pgn = document.querySelector('.btn_slide_pagenation'),
        relatedData = document.getElementsByClassName('wrapper_related_data')[0];
        pagenation = 1;
        function pgnation(e){
            if(pagenation == vArea.length + 1){
                pagenation = 1;
                relatedData.style.display = 'none';
                sArea.style.left = 0;
            }
            else if(pagenation == vArea.length){
                relatedData.style.display = 'block';
            }
            else if(pagenation == 0){
                pagenation = vArea.length;
                sArea.style.left = 'calc(' + (vArea.length-1) * - 100 + 'vw + ' + (vArea.length-1) * 8 + 'rem )'
                relatedData.style.display = 'block';
            }
            else{
                relatedData.style.display = 'none';
            }
            pgn.children[0].innerHTML = '<span>' + pagenation + '</span>' + ' / ' + vArea.length;
        }
        pgn.children[0].innerHTML = '<span>' + pagenation + '</span>' + ' / ' + vArea.length;
        //좌우 슬라이드 버튼
        click = true; //클릭 이벤트 중복 방지
        function sPrev(){
            if(click){
                sAreaLeft = window.getComputedStyle(sArea,null).getPropertyValue('left');
                sArea.style.left = 'calc(' + sAreaLeft + ' + 100vw - 8rem)'
                click = !click;
                pagenation--;
                pgnation();
                // 클릭 이벤트 복귀 타이밍 추가
                setTimeout(function () {
                    click = true;
                }, 400)
            }
        }
        function sNext(){
            if(click){
                sAreaLeft = window.getComputedStyle(sArea,null).getPropertyValue('left');
                sArea.style.left = 'calc(' + sAreaLeft + ' - 100vw + 8rem)'
                click = !click;
                pagenation++;
                pgnation();
                // 타이밍 추가
                setTimeout(function () {
                    click = true;
                }, 400)
            }
        }
        //슬라이드 배너 영역 끝

        function playVideo(){
            alert('비디오 재생');
        }