.wrapper_popUp
    .wrapper_modal_box
        .wrapper_modal_contents 팝업 이미지 사이즈 670 * 900
        .wrapper_modal_close
            button(type='button') 오늘 그만보기
            button(type="button" onclick="modalClose(this)") 닫기

script.
    //모달 팝업 시작
    function modalClose(close){
        close.parentNode.parentNode.parentNode.style.display = 'none';
    }
    //모달 팝업 끝