<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title skmUserPage
        link(rel="stylesheet" type="text/css" href="../style/import.css")
    body
        .header_common.header_top_search
            .inner
                .iconWrapper
                    a.icon_header_back(href="javascript:history.back()")
                        
                    input(type="text" placeholder="상품명 및 상품코드 검색")      
                    a.icon_header_search
        .wrapper_contents
            .inner
                h2.title_h2.search_h2
                    span "WPU-A700" 
                    | 검색결과 (10)
        .area_partition
        .wrapper_search_results
            .inner
                .category_search_results 공지사항
                ul.list_search_results
                    li 
                        mark.searched WPU-A700
                        |  배송지연 관련
        .area_partition
        .wrapper_search_results
            .inner
                .category_search_results 모바일 카달로그
                ul.list_search_results
                    li 
                        mark.searched WPU-A700
                        |  카달로그
        .area_partition
        .wrapper_search_results
            .inner
                .category_search_results 교육자료
                ul.list_search_results
                    li 
                        mark.searched WPU-A700
                        |  특장점
                    li 
                        mark.searched WPU-A700
                        |  타사비교
        .area_partition