.headerTabMenu()
    .slideMenu
        input(type="radio" name="topmenu" id='mCatalog' checked="checked")
        label(for="mCatalog") 모바일 카탈로그
        input(type="radio" name="topmenu" id='okService')
        label(for="okService") 안심 OK서비스
        input(type="radio" name="topmenu" id='eduData')
        label(for="eduData") 교육자료
        input(type="radio" name="topmenu" id='makeCata')
        label(for="makeCata") 카달로그 제작
        input(type="radio" name="topmenu" id='event')
        label(for="event") 이벤트
        input(type="radio" name="topmenu" id='localOp')
        label(for="localOp") 현장 의견
        input(type="radio" name="topmenu" id='mgLive')
        label(for="mgLive") 매직라이브
        input(type="radio" name="topmenu" id='rscEva')
        label(for="rscEva") 설문 평가
        input(type="radio" name="topmenu" id='fav')
        label(for="fav") 즐겨찾기